<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--
    <property name="LOG_HOME" value="D:/esicmissive_springboot_1/log" />
-->
    <property name="LOG_HOME" value="C:/OASystem/log" />
<!--
    <property name="LOG_HOME" value="E:/OASystem/oa/esicmissive_springboot_1/log" />
-->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <!-- 按照每天生成日志文件 -->
    <appender name="file"  class="ch.qos.logback.core.rolling.RollingFileAppender">

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>log/myApp.log.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n
            </pattern>
            <!--</layout>-->
        </encoder>

        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <logger name="eu.kielczewski" additivity="false" level="TRACE">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="jdbc.sqlonly" additivity="false" level="DEBUG">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="jdbc.audit" additivity="false" level="ERROR">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="jdbc.sqltiming" additivity="false" level="ERROR">
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="jdbc.resultset" additivity="false" level="ERROR">
        <appender-ref ref="stdout"/>
    </logger>
    <!--<logger name="cn.edu.shou.missive" additivity="false" level="INFO">-->
        <!--<appender-ref ref="stdout"/>-->
        <!--<appender-ref ref="file" />-->
    <!--</logger>-->
    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="file" />
    </root>
</configuration>

