<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title th:text="查看公文"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<meta http-equiv="refresh" content="240" />&lt;!&ndash;一分钟刷新页次页面&ndash;&gt;-->
    <script th:replace="header :: header"></script>



</head>

<body>
<script th:inline="javascript">

    var userbase64 = [[${userbase64}]];

    var user=/*[[${user.userName}]]*/null;



</script>

<div th:replace="navbar :: navbar(${user})"></div>


<div class="main-container" id="main-container">
<script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
</script>

<div class="main-container-inner">
<a class="menu-toggler" id="menu-toggler" href="#">
    <span class="menu-text"></span>
</a>


<div th:replace="slider :: slidermenu(${'dbzx-wbgw'})"></div>

<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/">首页</a>
            </li>

            <li>
                <a href="#">查看公文</a>
            </li>

        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
                            <span class="input-icon">
                                <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                <i class="icon-search nav-search-icon"></i>
                            </span>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">
       <label style="font-size: 16px">目前您点击的内容只有局领导才可以查看，若您想查看本处室公文，请点击处室公文！</label>
    </div><!-- /.page-content -->
</div><!-- /.main-content -->


</div><!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="/assets/js/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/assets/js/jquery.1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->
<!-- page specific plugin scripts -->

<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/jquery.dataTables.bootstrap.js"></script>
<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="/js/custom/kendomultiselect-filter-plugin.js"></script>
<script src="/js/jquery.cookie.js"></script>

<script style="javascript" th:inline="javascript">

var taskList = /*[[${tasksIng}]]*/[];
var taskId="";
var instantId="";
var taskName="";
var dropDownSource=null;
var missiveType="";

var taskdoneList = /*[[${tasksDone}]]*/[];
var missiveSend=/*[[${mainSend}]]*/[];
var missiveCopy=/*[[${copyTo}]]*/[];
var DonePage=/*[[${DonePage}]]*/[];
var taskDoneTotalNum=/*[[${PageTotal}]]*/[];

jQuery(function ($) {
    if(taskdoneList.length==0){
        $('#completeDiv').attr("style","");
    }
    else{
        $('#displayDiv').attr("style","");
    }
    if(taskDoneTotalNum>=5){
        $("#lessThanFive").attr("style","display:none");
    }else if(taskDoneTotalNum<5){
        $("#moreThanFive").attr("style","display:none");

    }
    if (DonePage == 2) {

        //$("#start").attr("style", "display:none");
        $("#first").attr("style", "display:none");
        $("#front").attr("style","display:none");
        $("#pre").attr("style", "display:none");
        $("#final").attr("style", "display:none");

    }
    else if (DonePage == 1) {

        $("#start").attr("style", "display:none");
        $("#firstPage").attr("style", "display:none");
        $("#first").attr("style", "display:none");
        $("#front").attr("style","display:none");
        $("#pre").attr("style","display:none");


    }
    else if (DonePage == (taskDoneTotalNum - 1)) {

        // $("#end").attr("style", "display:none");
        $("#last").attr("style", "display:none");
        $("#pre").attr("style","display:none");
        $("#rear").attr("style", "display:none");
        $("#final").attr("style", "display:none");



    }
    else if (DonePage == taskDoneTotalNum) {
        $("#end").attr("style", "display:none");
        $("#last").attr("style", "display:none");
        $("#lastPage").attr("style", "display:none");
        // $("#front").attr("style","display:none");
        $("#rear").attr("style", "display:none");
        $("#final").attr("style", "display:none");

    }else{
        $("#front").attr("style","display:none");
        $("#pre").attr("style","display:none");
        $("#rear").attr("style", "display:none");
        $("#final").attr("style", "display:none");

    }



});

function changePage(vi){
    if(vi.value>taskDoneTotalNum||vi.value<1){

        var warnning="请输入1到"+taskDoneTotalNum+"之间的页数";
        swal({title:'错误提示',text:warnning,type:'error',confirmButtonText:'确定'});
        //swal("请输入1到"+taskDoneTotalNum+"之间的页数");
    }else{
        var pageNum=vi.value;
        window.location.href="/dbzx/wbgw/1/"+pageNum;
    }


}

$("#filterData").keypress(function(event) {
    if ( event.which == 13 ) {
        event.preventDefault();
        var searchValue = event.currentTarget.value;
        if (searchValue != "") {

            $.ajax({
                url: "/api/searchByword/getHistoryMissiveList",
                data: {data: searchValue},
                success: function (result) {

                    $("#completedTable").attr("style","display:none");
                    $("#secondDiv").attr("style", "");
                    $("#filterTable").empty(); //清空列表
                    var head = "<thead><tr><th style='text-align: center;vertical-align:middle'>附件修改</th><th style='text-align: center;vertical-align:middle'>公文类型</th><th style='text-align: center;vertical-align:middle'>公文标题</th><th style='text-align: center;vertical-align:middle'>任务时间</th><th style='text-align: center;vertical-align:middle'> 操作</th></tr></thead>";
                    $("#filterTable").append(head);

                    for (var i = 0; i < result.length; i++) {

                        var missiveUrl="http://16.64.36.50";
                        var MissiveFlag=result[i].cardTitle;
                        var htmlText=result[i].htmlUrl;
                        var attachlist= result[i].updateFlag=='1'?'附件已变更':'附件未变更';
                        var HistoryMissiveLink="/historyProcess/"+result[i].processInstanceId;
                        var Type=result[i].missiveType;
                        var InstantID=result[i].processInstanceId;
                        var versionID=result[i].versionNum;
                        var taskID= result[i].lastTaskId;
                        var attrValue="data-taskId="+result[i].id+",data-instantId="+result[i].processInstanceId+",data-nextTaskId="+result[i].nextTaskId;
                        var styleSample="";
                        if(!result[i].rollBackFlag){
                            styleSample="display:none"
                        }
                        var pdfLink="/pdfViewer/web/viewer.html?file=/pdf/"+Type+"/"+InstantID+"/"+versionID+"/pdf2Pad/"+taskID+".pdf";
                        var tr = "<tr  style='height:50px'>";
                        tr += "<td style='text-align: center;vertical-align:middle'>" + attachlist + "</td>";
                        tr += "<td style='text-align: center;vertical-align:middle'>" + result[i].typeTitle + "</td>";
                        tr += "<td style='text-align: center;vertical-align:middle'>" + result[i].missiveTitle + "</td>";
                        tr += "<td style='text-align: center;vertical-align:middle;width: 200px'>" + result[i].taskEndTime + "</td>";
                        tr += "<td style='text-align: center;vertical-align:middle;width: 370px'> <a href='"+HistoryMissiveLink+"' target='_blank' class='btn btn-minier bigger btn-success'><i class='icon-check'></i>任务信息</a>&nbsp";

                        tr += "<a href='"+pdfLink+"' class='btn btn-minier bigger btn-primary' target='_blank'><i class='icon-check'></i>查看公文</a></td>"
                        tr += "</tr>";

                        $("#filterTable").append($(tr));
                    } //end for emplo



                }
            });
        } else {

            $("#completedTable").attr("style","");
            $("#secondDiv").attr("style", "display:none");
            // swal("请在搜索框输入关键字！");
        }
    }

});




$("#nav-search-input").keypress(function(event) {
    if ( event.which == 13 ) {
        event.preventDefault();

        var searchValue=event.currentTarget.value;
        if(searchValue==""){
            swal("请在搜索框输入关键字！");

        }else{
            self.location="/fullSearch/"+searchValue;

        }            //alert(searchValue);
    }

});

function trSelect2(){
    var tbl = document.getElementById("sample-table-2");
    for(var i = 1; i < tbl.rows.length; i++){
        tbl.rows[i].onclick =function(){
            if(window.cur) window.cur.style.background = "#FFF";
            this.style.background = "#7DB4D8";
            window.cur = this;
        }
    }
}

function trSelect(){
    var tbl = document.getElementById("taskTable");
    for(var i = 1; i < tbl.rows.length; i++){
        tbl.rows[i].onclick =function(){
            if(window.cur) window.cur.style.background = "#FFF";
            this.style.background = "#7DB4D8";
            window.cur = this;
        }
    }
}



function newFunc(vi) {
    var text=vi.value;
    var text2=document.getElementById("txt").innerHTML;
    if(vi.checked){

        $.ajax({
            url: "/api/config/actRuTaskInsert",
            data: {data: text, isTop: 1}
        });
    }else {
        $.ajax({
            url: "/api/config/actRuTaskInsert",
            data: {data: text, isTop: 0}
        });
    }
    window.location.href="/cbdb/1";

}





jQuery(function ($) {
    var oTable1 = $("#sample-table-2").dataTable({
//            "pagingType":   "iFullNumbersShowPages",


        "aoColumns": [
//                { "bSortable": false },
            { "bSortable": true },
            { "bSortable": true },
            { "bSortable": false },
            { "bSortable": false },
            { "bSortable": true },
            null,
            { "bSortable": false }
        ],
        "fnDrawCallback": function(){
            var oTable = $("#sample-table-2").dataTable();
            $('#redirect').keyup(function(e){
                if($(this).val() && $(this).val()>0){
                    var redirectpage = $(this).val()-1;
                }else{
                    var redirectpage = 0;
                }
                oTable.fnPageChange( redirectpage );
            });
        }




    });


    $('table th input:checkbox').on('click', function () {
        var that = this;
        $(this).closest('table').find('tr > td:first-child input:checkbox')
                .each(function () {
                    this.checked = that.checked;
                    $(this).closest('tr').toggleClass('selected');
                });

    });


    $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
    function tooltip_placement(context, source) {
        var $source = $(source);
        var $parent = $source.closest('table')
        var off1 = $parent.offset();
        var w1 = $parent.width();

        var off2 = $source.offset();
        var w2 = $source.width();

        if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
        return 'left';
    }
});



</script>
<style>

    .table-hover > tbody > tr:hover > td,
    .table-hover > tbody > tr:hover > th {
        background-color: #f5f5f5;
    }

</style>


</body>
</html>
