<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title th:text="${title}"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <script th:replace="header :: header"></script>

    <link href="/css/kendo.common.min.css" rel="stylesheet" />
    <link href="/css/kendo.uniform.min.css" rel="stylesheet" />
    <link href="/css/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="/css/kendo.dataviz.default.min.css" rel="stylesheet" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/kendo.all.min.js"></script>




</head>

<body style="height: 100%">

<div th:replace="navbar :: navbar(${user})"></div>


<div class="main-container" id="main-container">
<script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
</script>

<div class="main-container-inner">
<a class="menu-toggler" id="menu-toggler" href="#">
    <span class="menu-text"></span>
</a>


<div th:replace="slider :: slidermenu(${'wzpb'})"></div>


<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
        </script>

        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="#">首页</a>
            </li>

            <li>
                <a href="#">系统设置</a>
            </li>
            <li class="active">流程字段管理</li>
        </ul><!-- .breadcrumb -->

        <div class="nav-search" id="nav-search">
            <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
            </form>
        </div><!-- #nav-search -->
    </div>

    <div class="page-content">
        <div class="page-header">
            <h1>
                流程字段管理
                <small>
                    <i class="icon-double-angle-right"></i>
                    Common Buttons &amp; Icons
                </small>
            </h1>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                <!--<input id="datepicker" value="10/10/2011" style="width:150px;" />-->

                <!--新添加的grid-->
                <div id="grid" style="width: 100%;height: 100%;min-height: 500px;"></div>


                <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->
</div><!-- /.main-content -->


</div><!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="/assets/js/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/assets/js/jquery.1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<!--<script>-->

    <!--$(document).ready(function() {-->
        <!--// create DatePicker from input HTML element-->
        <!--$("#datepicker").kendoDatePicker();-->

    <!--});-->

<!--</script>-->

<script>

//dropdownlist
var data="";
$(function () {

    //grid
    $.ajax({
        url: "/missivefield/read",    //请求的url地址
        async: false,//请求是否异步，默认为异步，这也是ajax重要特性
        type: "GET",   //请求方式

        success: function (result) {
            //请求成功时处理
            result = eval("("+result+")");
            data=result;
        },
        error:function(){
            alert("服务器端暂无数据");
        }

    });
    $("#grid").kendoGrid({

        dataSource:{
            data:data,
            schema:{
                id:"id",
                model: {
                    id:"id",
                    fields: {
                        id:{editable:false,nullable:true},
                        name: {type: "string", validation: { required: true } },
                        taskName: { type: "string", validation: { required: true} },
                        fieldName: { type: "string",validation: { required: true} }
                    }
                }
            }

        },

        sortable:true,
        pageable:{
            //refresh:true,
            pageSize: 10,
            pageSizes:true,
            buttonCount:5,
            messages: {
                display: "{0}-{1} 共 {2} 记录",
                empty: "无记录显示" ,
                itemsPerPage: "每页"
            }

        },
        toolbar: [
            {name:"create",text:"添加"}
        ],
        save: function(e) {

            console.log(e);

            var id1=e.model.id;
            var fieldName1=e.model.fieldName;
            var name1=e.model.name;
            var taskName1=e.model.taskName;

            if(id1!=null){

                $.ajax({
                    type: "POST",
                    url: "/missivefield/update",
                    data: {id:id1,fieldName:fieldName1,name:name1,taskName:taskName1}

                });
            }
            else
            {
                $.ajax({
                    type: "POST",
                    url: "/missivefield/create",
                    data: {fieldName:fieldName1,name:name1,taskName:taskName1}

                });
            }



        },
        remove:function(e){
            //alert("aa");

            var id2=e.model.id;

            $.ajax({
                type: "POST",
                url: "/missivefield/delete",
                data: {id:id2}

            });

        },

        columns: [
            { field:"name", title: "流程类型",width:"120px",editor: processDropDown, template: "#=name#",attributes: {style: "text-align: center" },headerAttributes: { style: "text-align: center"}},
            { field: "taskName", title:"任务名称", width: "120px",editor: taskDropDown, template: "#=taskName#",attributes: {style: "text-align: center" },headerAttributes: { style: "text-align: center"}},
            { field: "fieldName", title:"字段", width: "120px",editor: fieldDropDown, template: "#=fieldName#",attributes: {style: "text-align: center"},headerAttributes: { style: "text-align: center"}},
            { command: [{name:"edit",text:{
                edit:"编辑",
                cancel:"取消",
                update:"更新"
            }
            }, {name:"destroy",text:"删除"}
            ], title: "&nbsp;", width: "120px",attributes: {style: "text-align: center"} }
        ],

        editable  : {
            mode : "popup",
            //mode:"inline"
            window : {
                title: "编辑"  // Localization for Edit in the popup window
            },
            confirmation: "您确定删除这条记录吗?"
        }

    });

});


//add dropdownlist event
function processDropDown(container, options) {

    var processData=[];

    $.ajax({
        url: "/processType",    //请求的url地址http://demos.telerik.com/kendo-ui/service/Products
        //dataType: "json",   //返回格式为json
        async: false,//请求是否异步，默认为异步，这也是ajax重要特性
        type: "GET",   //请求方式

        success:function(result){

            result = eval("("+result+")");

            //请求成功时处理
            for(var i=0; i<result.length;i++)
            {
                processData.push({
                    nameID: i,
                    name:result[i].name
                });

            }

            $('<input id="processTypeDP" required  name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        optionLabel: "请选择...",
                        dataTextField: "name",
                        dataValueField: "name",
                        dataSource: processData,
                        filterable: true
                    });

        },
        error:function(){
            //请求出错处理
        }

    });

}

function taskDropDown(container, options) {

    var taskData=[];

    $.ajax({
        url: "/taskname",    //请求的url地址http://demos.telerik.com/kendo-ui/service/Products
        //dataType: "json",   //返回格式为json
        async: false,//请求是否异步，默认为异步，这也是ajax重要特性
        type: "GET",   //请求方式

        success:function(result){

            result = eval("("+result+")");

            //请求成功时处理
            for(var i=0; i<result.length;i++)
            {
                taskData.push({
                    taskID: i,
                    taskName:result[i].taskName,
                    name:result[i].name
                });

            }

            $('<input id="taskDP" disabled="disabled"  required  name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        optionLabel: "请选择...",
                        autoBind: false,
                        cascadeFrom: "processTypeDP",
                        dataTextField: "taskName",
                        dataValueField: "taskName",
                        dataSource: taskData,
                        filterable: true
                    });

        },
        error:function(){
            //请求出错处理
        }

    });

}

function fieldDropDown(container, options) {

    var dataSource=[];

    $.ajax({
        url: "/missiveFieldAll",    //请求的url地址http://demos.telerik.com/kendo-ui/service/Products
        //dataType: "json",   //返回格式为json
        async: false,//请求是否异步，默认为异步，这也是ajax重要特性
        type: "GET",   //请求方式

        success:function(result){

            result = eval("("+result+")");

            //请求成功时处理
            for(var i=0; i<result.length;i++)
            {
                dataSource.push({
                    fieldID: i,
                    fieldName:result[i].fieldName,
                    name:result[i].name
                });

            }

            $('<input id="fieldDP" disabled="disabled"  required  name="' + options.field + '"/>')
                    .appendTo(container)
                    .kendoDropDownList({
                        optionLabel: "请选择...",
                        autoBind: false,
                        cascadeFrom: "processTypeDP",
                        dataTextField: "fieldName",
                        dataValueField: "fieldName",
                        dataSource: dataSource,
                        filterable: true
                    });

        },
        error:function(){
            //请求出错处理
        }

    });

}

</script>


<!-- inline scripts related to this page -->
</body>
</html>
