<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>国家海洋局东海预报中心办公系统</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="Refresh" content="180"/>
   <script th:replace="header :: header"></script>



</head>

<body>
<script th:inline="javascript">

    var userbase64 = [[${userbase64}]];



</script>

<div th:replace="navbar :: navbar(${ud})"></div>


<div class="main-container" id="main-container">
<script type="text/javascript">
    try{ace.settings.check('main-container' , 'fixed')}catch(e){}
</script>

<div class="main-container-inner">
<a class="menu-toggler" id="menu-toggler" href="#">
    <span class="menu-text"></span>
</a>


<div th:replace="slider :: slidermenu(${'kzt'})"></div>


    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try {
                    ace.settings.check('breadcrumbs', 'fixed')
                } catch (e) {
                }
            </script>

            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="/">首页</a>
                </li>
                <!--<li class="active">控制台</li>-->
            </ul>
            <!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
                <span class="input-icon">
                    <input type="text" placeholder="搜索..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                    <i class="icon-search nav-search-icon"></i>
                </span>
            </div>
            <!-- #nav-search -->
        </div>

        <div class="page-content">
           <!-- <div class="page-header">
                <h1>
                    首页
                    <small>
                        <i class="icon-double-angle-right"></i>
                        快速查看您的主要信息
                    </small>
                </h1>
            </div>-->
            <!-- /.page-header -->
           <div id="DelegateWin" style="text-align: center;display: none;width:300px;height:250px">
               <div style="margin-top:50px;margin-left:40px;position: absolute">
                   <label class="blue" style="float: left;margin-left:10px;font-size: 16px;margin-top:-30px">
                       <span class="lbl" style="font: 16px;width: 100px"> 请输入回退理由：</span>
                   </label>
                   <!--<input style="margin-top:30px;float:left;width:200px;float:left;position: absolute" id="selectDelegater" required validationMessage="回退理由不能为空！"/>-->
                   <input  id="selectDelegater" name="selectDelegater" style="float: left;margin-left:10px;font-size: 16px" class="vali_input" required validationMessage="回退理由不能为空！"/>
                   <span class="k-invalid-msg" data-for="selectDelegater"></span>
               </div>
               <div style="margin-top:130px;margin-left:45px;position: absolute;">
                   <button class="btn btn-info" type="button" onclick="submitDelegate()">
                       <i class="icon-ok bigger-110"></i>
                       提交
                   </button>

                   &nbsp; &nbsp; &nbsp;
                   <button class="btn" type="reset" onclick="closeWin()">
                       <i class="icon-undo bigger-110"></i>
                       取消
                   </button>
               </div>


           </div>
            <div id="DeletedWin" style="text-align: center;display: none;width:300px;height:250px">
                <div style="margin-top:50px;margin-left:40px;position: absolute">
                    <label class="blue" style="float: left;margin-left:10px;font-size: 16px;margin-top:-30px">
                        <span class="lbl" style="font: 16px;width: 100px"> 请输入删除理由：</span>
                    </label>
                    <!--<input style="margin-top:30px;float:left;width:200px;float:left;position: absolute" id="selectDelegater" required validationMessage="回退理由不能为空！"/>-->
                    <input  id="deleteReason" name="deleteReason" style="float: left;margin-left:10px;font-size: 16px" class="vali_input" required validationMessage="删除理由不能为空！"/>
                    <span class="k-invalid-msg" data-for="deleteReason"></span>
                </div>
                <div style="margin-top:130px;margin-left:45px;position: absolute;">
                    <button class="btn btn-info" type="button" onclick="submitDelete()">
                        <i class="icon-ok bigger-110"></i>
                        提交
                    </button>

                    &nbsp; &nbsp; &nbsp;
                    <button class="btn" type="reset" onclick="closeWin2()">
                        <i class="icon-undo bigger-110"></i>
                        取消
                    </button>
                </div>


            </div>
            <div class="row">
                <div class="col-xs-12">
                    <!-- PAGE CONTENT BEGINS -->

                    <div class="row">

                        <div class="col-xs-20 col-sm-6 widget-container-span ui-sortable" >
                            <div class="widget-box">
                                <div class="widget-header header-color-blue">
                                    <h5 class="bigger lighter">
                                        <i class="icon-table"></i>
                                        我的任务
                                    </h5>

                                    <div class="widget-toolbar widget-toolbar-light no-border">
                                        <a href="/dbzx/1">更多...</a>
                                    </div>
                                </div>

                                <div class="widget-body" style="height:650px">
                                    <div class="widget-main">
                                        <div id="displayDiv" style="display: none">
                                        <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top" >
                                            <thead>
                                            <tr>

                                                <th style="text-align: center;width:12%">公文</th>

                                                <th style="text-align: center;width:15%">传送人</th>

                                                <th style="text-align: center">公文标题</th>

                                                <th style="text-align: left;width:33%">操作 </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr style="height:50px" th:each="taskIng: ${tasksIng}">

                                                <td style="text-align: center;vertical-align:middle" th:text="${taskIng.abbrevType}"></td>

                                                <td style="text-align: center;vertical-align:middle" th:text="${taskIng.preOwner}"></td>


                                                <td style="text-align: center;vertical-align:middle" th:utext="${taskIng.missiveTitle}"></td>

                                                <td style="text-align: center;vertical-align:middle">

                                                    <!--<a th:href="@{/historyProcess/{instanceid}(instanceid=${taskIng.processInstanceId})}"  target="_blank" class="btn btn-minier bigger btn-success"><i class="icon-check"></i>任务信息</a>&nbsp&nbsp&nbsp-->
                                                           <a th:href="${taskIng.taskUrl}"
                                                              class="btn btn-minier bigger btn-primary"><i class="icon-check"></i>处理公文</a>&nbsp

                                                       <select  style="height: 30px;background-color: #0187cb;color:#FFFFFF"  onchange = "getValue(this)" th:attr="data-taskType=${taskIng.typeTitle},data-missiveType=${taskIng.typeTitle},data-taskName=${taskIng.name},data-processId=${taskIng.processInstanceId},data-title=${taskIng.missiveTitle},data-taskId=${taskIng.id}">
                                                        <option  ><li>更多操作</li></option>
                                                        <option style="background-color: limegreen"  th:value="${taskIng.InfoLink}">任务信息</option>
                                                        <option style="background-color: sandybrown" th:value="${taskIng.rollbackLink}"  >任务回退</option>
                                                        <option style="background-color: #a52a2a"    th:value="${taskIng.deletedLink}" th:attr="data-missiveType=${taskIng.typeTitle},data-taskName=${taskIng.name},data-processId=${taskIng.processInstanceId},data-title=${taskIng.missiveTitle},data-taskId=${taskIng.id}">删除</option>
                                                    </select>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                     </div>

                                        <div id="completeDiv" style="display: none" >
                                            <table class="table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                                <thead>
                                                <tr>

                                                    <th style="text-align: center;width:20%">公文类型</th>

                                                    <th style="text-align: center">公文标题</th>

                                                    <th style="text-align: center;width:210px">操作 </th>
                                                </tr>
                                                </thead>
                                            </table>
                                                <div class="well" style="height:550px">

                                            <h3 class="grey lighter smaller">
											<span class="blue bigger-125">
												<i class="icon-sitemap"></i>
												提示
											</span>
                                                        您当前没有公文需要处理
                                            </h3>

                                                    <hr />
                                                    <h5 class="lighter smaller">您也可以搜索并查阅历史公文</h5>

                                                    <div>
                                                <form class="form-search">
												<span class="input-icon align-middle">
													<i class="icon-search"></i>

													<input type="text" class="search-query" class="nav-search-input" id="nav-search-input2"  placeholder="请输入公文信息..." />
												</span>

                                                </form>

                                                <div class="space"></div>

                                                    </div>

                                                    <hr />
                                                    <div class="space"></div>


                                                </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="col-xs-20 col-sm-6 widget-container-span ui-sortable" >
                            <div class="widget-box" >
                                <div class="widget-header header-color-blue">
                                    <h5>我的日程</h5>


                                    <div class="widget-toolbar widget-toolbar-light no-border">
                                        <a href="/mydate">更多...</a>
                                    </div>

                                </div>

                                <div class="widget-body" style="height:650px">
                                    <div class="widget-main">
                                        <div style="width:100%">
                                            <div id="mySchedule"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- /span -->
                    </div>
                    <!-- /row -->

                    <div class="space-24"></div>


                    <!-- PAGE CONTENT ENDS -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.page-content -->
    </div>


</div><!-- /.main-container-inner -->
<div id="window2" hidden="hidden" style="max-width: 346px;max-height: 300px; margin-top: 40px;margin-left: 20px"  resizable="false">




    <div   id="myform">
        <div class="profile-user-info">
            <!--<input id="userID" name="id" type="hidden" th:value="*{ud} ? *{ud.id} : '0'"/>-->

            <p>
                <label for='Password1'>原密码：</label>
                <input type="password" id="Password1" name="Password1" onfocus="this.type='password'"  required="true" data-required-msg="初始密码不能为空" autocomplete="off"/>
            </p>
            <p>
                <label for='Password2'>新密码：</label>
                <input type="password" id="Password2" name="Password2" onfocus="this.type='password'" required="true" data-required-msg="请输入密码" autocomplete="off"/>
            </p>
            <p>
                <label for='Password3'>请确认：</label>
                <input type="password" id="Password3" name="Password3" onfocus="this.type='password'" required="true" data-required-msg="请再次输入密码" autocomplete="off" />
            </p>
        </div>
        <div class="space space-10"></div>
        <div class="center"><input style="left: -30px;" type="submit" id="submitBtn" class="btn btn-sm btn-primary" value="提交" onclick="updatePassword()"/>
            <a  class="btn btn-sm btn-danger" onclick="closeWindow()">取消</a></div>
        <div class="space space-10"></div>


    </div>



</div>

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="/assets/js/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/assets/js/jquery.1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/assets/js/jquery.slimscroll.min.js"></script>


<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script src="/js/messages/kendo.messages.zh-CN.min.js"></script>


<script style="javascript" th:inline="javascript">


    var userName=/*[[${ud.userName}]]*/null;

    kendo.culture("zh-CN");
    kendo.ui.Locale = "Simplified Chinese (zh-CN)";
    var taskList=[];
    var tasks=[];
    var taskId="";
    var taskName="";
    var processId="";
    var mTitle="";
    var processInstanceId="";
    var processName="";
    var taskUrl="";//任务的跳转地址
    var userID=/*[[${ud.id}]]*/[];
    var authorityFlag = /*[[${AuthorityFlag}]]*/null;



    var taskList = /*[[${tasksIng}]]*/[];
    var password=/*[[${ud.password}]]*/null;

    $(function(){
        kendo.culture("zh-CN");
        if(password=="123"){
            var confirmMessageText = "";



            swal(
                    {
                        title: "你的密码较弱，请修改密码?",
                        text: confirmMessageText,
                        type: "warning",
//                                minWidth:560,
                        showCancelButton: true,
                        confirmButtonText: "确定",
                        cancelButtonText: "取消",
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            $('#window2').kendoWindow({
                                title: "修改密码",
                                position: {
                                    top: screen.height / 3.8,
                                    left: screen.width / 2.4

                                },
                                resizable: true,
                                draggable: true,
                                modal: true

                            });
                            $('#window2').data("kendoWindow").open();

                        }
                    }
            );
        }
    })

//    $("#selectedIndex").onchange()
//    {
//
//        onchange = "self.location.href=options[selectedIndex].value"
//    }

    var taskId;
    var taskId1;
    var processId;
    var type;
    function getValue(e){

        var value=e.value;
        var selectedIndex= e.selectedIndex;
        if(selectedIndex==1){
            window.location.href=value;
        }else if(selectedIndex==2){

            taskId=$(e).attr("data-taskId");
            $('#DelegateWin').kendoWindow({
                title: '任务撤回',
                position: {
                    top: screen.height / 3,
                    left: screen.width / 3
                },
                modal: true

            });
            $("#DelegateWin").data("kendoWindow").open();


//            $.ajax({
//                type:'post',
//                url:value,
//                success:function(){
//
//                    swal("任务回退成功！");
//                    window.location.reload();
//
//                }
//            });
        }else if(selectedIndex==3){
            taskId1=$(e).attr("data-taskId");
            processId=$(e).attr("data-processId");
            type=$(e).attr("data-taskType");
            $('#DeletedWin').kendoWindow({
                title: '任务删除',
                position: {
                    top: screen.height / 3,
                    left: screen.width / 3
                },
                modal: true

            });
            $("#DeletedWin").data("kendoWindow").open();



        }


    }

    var validator = $('#selectDelegater').kendoValidator().data("kendoValidator");
    function submitDelegate(){
        if(validator.validate()){
            var delegator="退回任务：";
            delegator+= $('#selectDelegater').val();
            $.ajax({
                type:'post',
                url:'/api/taskRollBack/'+taskId+"/"+delegator,
                success:function(){
                    $("#DelegateWin").data("kendoWindow").close();
                    swal("任务回退成功！");
                    window.location.reload();

                }
            });

        }
    }


    var validator1=$('#deleteReason').kendoValidator().data("kendoValidator");
    function submitDelete(){
        if(validator1.validate()) {
            var deleteReason = $('#deleteReason').val();
            $("#DeletedWin").data("kendoWindow").close();
            swal(
                    {
                        title: "确认删除?",
                        text: "删除公文后无法复原，是否继续删除？",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定!",
                        cancelButtonText: "取消",
                        closeOnConfirm: false,
                        closeOnCancel: false
                    }, function (isConfirm) {

                        if (isConfirm) {
                            //console.log("submit delete!");
                            $.ajax({
                                type:'post',
                                url:'/api/taskDelete/'+processId+"/"+deleteReason+"/"+taskId1+"/"+type,
                                success:function(){
                                    //$("#DeletedWin").data("kendoWindow").close();
                                    // swal("任务删除成功！");
                                    swal({title: "成功", text: "任务删除成功!", type: "success", timer: 3000 },function(){
                                        window.location.reload()
                                    });
                                },
                                error: function () {
                                    swal({title: "失败!", text: "处理已经被取消!", type: "error", timer: 3000 });
                                }
                            });
                        } else {
                            swal({title: "失败!", text: "处理已经被取消!", type: "error", timer: 3000 });
                        }
                    }
            )






        }
    }


    function closeWin(){
        $("#DelegateWin").data("kendoWindow").close();
    }
    function closeWin2(){
        $("#DeletedWin").data("kendoWindow").close();
    }

    function updatePassword() {
        var pass2 = $("#Password2").val();
        var pass1 = $("#Password1").val();
        var pass3=  $("Password3").val();
        if (pass1!= "" && pass2!="" &&pass3!="") {
            $.ajax({
                url: '/api/user/PassWordEdit2/',
                type: 'post',
                data: {id: userID, password: pass2},
                success: function () {
                    $("#window2").data("kendoWindow").close();
                    //swal("您已更新密码，请重新登陆", "", "success");
                    swal({title: "提交成功!", text: '您已更新密码，即将登出!', type: "success", timer: 60000 });
                    window.location.href = "/logout";
                    window.event.returnValue = false;


                },
                error: function () {
                    //  $("#window2").data("kendoWindow").close();
                    //   swal("密码更新失败!请再次操作", "", "error");
                    window.location.href = "/logout";

                    window.event.returnValue = false;
                }
            });

        }
    }

    function closeWindow(){

        $("#window2").data("kendoWindow").close();

    }
/*    if(taskList.length!=0){

        document.getElementById("completeDiv").style.display='none';

    }else{
        document.getElementById("displayDiv").style.display='none';

    }*/
    if(taskList.length==0){
        $('#completeDiv').attr("style","");
    }
    else{
        $('#displayDiv').attr("style","");
    }
    $("#nav-search-input2").keypress(function(event) {
        if ( event.which == 13 ) {
            event.preventDefault();

            var searchValue=event.currentTarget.value;
            self.location="/fullSearch/"+searchValue;
            //alert(searchValue);
        }

    });


    //搜索监听
    $("#nav-search-input").keypress(function(event) {
        if ( event.which == 13 ) {
            event.preventDefault();

            var searchValue=event.currentTarget.value;
            if(searchValue==""){
                swal("请在搜索框输入关键字！");

            }else{
                self.location="/fullSearch/"+searchValue;

            }            //alert(searchValue);
        }

    });
    //var userName=[[${ud.userName}]];
    var scheduleData="";
    $(function() {
        $.ajax({
            url: 'db/richeng_get',
            type: 'post',
            data: {user: userName},
            async: false,
            success: function (result) {
                scheduleData = eval("(" + result + ")");
            }
        });
        console.log("init schedule")
        $('#mySchedule').kendoScheduler({
            date: new Date(),
            startTime: new Date("2013/6/13 07:00 AM"),
            height:'635px',
            editable: {
                destroy: true
            },
            message: {
                cancel: '取消'
            },

            dataSource: scheduleData,
            views: [
                {type: "agenda", title: "日程"},
                {type: "day", title: '日'},
                {type: "week", title: "周"},
                {type: "month", title: "月", selected: true}

            ],
            save: function (e) {
                var eventId = e.event.id;
                if (eventId == 0) {
                    //新建日程
                    var title = e.event.title;
                    var startTime = e.event.start;
                    var endTime = e.event.end;
                    var content = e.event.description;
                    //var createPeo = "海洋小子";
                    $.ajax({
                        url: 'db/richeng_new',
                        type: 'post',
                        data: {noTitle: title, noStart: startTime, noEnd: endTime, noCon: content, noPeo: userName}
                    });

                }
                else {
                    //修改日程
                    var title = e.event.title;
                    var startTime = e.event.start;
                    var endTime = e.event.end;
                    var content = e.event.description;
                    $.ajax({
                        url: 'db/richeng_edit',
                        type: 'post',
                        data: {noTitle: title, noStart: startTime, noEnd: endTime, noCon: content, id: eventId, user: userName}
                    });

                }
            },
            moveEnd: function (e) {
                var nStart = e.slot.start;
                var nEnd = e.slot.end;
                var eventId = e.event.id;
                $.ajax({
                    url: 'db/richeng_move',
                    type: 'post',
                    data: {start: nStart, end: nEnd, id: eventId}
                });
            },
            remove: function (e) {
                var rId = e.event.id;
                $.ajax({
                    url: 'db/richeng_del',
                    type: 'post',
                    data: {id: rId}
                });

            }

        });
    });



</script>

<!-- inline scripts related to this page -->
</body>
</html>
