<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title th:text="任务查询"></title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script th:replace="header :: header"></script>



</head>

<body>
<script th:inline="javascript">

    var userbase64 = [[${userbase64}]];

    var user=/*[[${user.userName}]]*/null;



</script>

<div th:replace="navbar :: navbar(${user})"></div>


<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>


        <div th:replace="slider :: slidermenu(${'xtsz-display'})"></div>


        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">首页</a>
                    </li>

                    <li>
                        <a href="#">任务查看</a>
                    </li>

                </ul><!-- .breadcrumb -->

                <div class="nav-search" id="nav-search">

                    <span class="input-icon">
                        <input type="text" placeholder="搜索 ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                        <i class="icon-search nav-search-icon"></i>
                    </span>

               </div><!-- #nav-search -->
            </div>




            <div class="page-content">
            <div class="row">
            <div class="col-xs-12">
            <div class="tabbable">
            <ul class="nav nav-tabs padding-12 tab-color-blue background-blue" id="myTab4">
                <li th:class="${activeitem=='rollback'}?'active'">
                    <a data-toggle="tab" href="#rollback" >回退</a>
                </li>

                <li th:class="${activeitem=='deleted'}?'active'">
                    <a data-toggle="tab" href="#deleted">删除</a>
                </li>
                <li th:class="${activeitem=='delegator'}?'active'">
                    <a data-toggle="tab" href="#delegator">跳转</a>
                </li>
            </ul>
            <div class="tab-content" style="height:1080px">

                <div id="rollback" th:class="${activeitem=='rollback'}?'tab-pane in active':'tab-pane'">
                    <!--<div class="dataTables_filter" id="taskTable_filter">-->
                        <!--<label>快捷查询: <input type="text" class="search-query" class="nav-search-input" id="filterData" placeholder="请输入关键字" ></label>-->
                    <!--</div>-->
                    <div class="table-responsive">
                        <table  id="rollback-table" class="table table-bordered table-hover no-margin-bottom no-border-top"  style="background-color: #FFFFFF" onmousedown="trSelect2()">
                            <thead>
                            <tr>
                                <th style="text-align: center;width:110px">任务名</th>
                                <th style="text-align: center;width:110px">任务人</th>
                                <!--<th style="text-align: center;width:170px">任务名称</th>-->
                                <th style="text-align: center">公文标题</th>
                                <th style="text-align: center;width:130px">操作时间</th>
                                <th style="text-align: center;width:130px">回退理由</th>
                                <th style="text-align: center;width:130px">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="height:50px" th:each="rollbackList: ${rollbackList}">
                                <td id="txt" style="text-align: center;vertical-align:middle" th:text="${rollbackList.taskName}"></td>
                                <td style="text-align: center;vertical-align:middle" th:text="${rollbackList.Operator} "></td>
                                <td style="text-align: center;vertical-align:middle" th:text="${rollbackList.MissiveTitle}"></td>
                                <td style="text-align: center;vertical-align:middle" th:text="${rollbackList.OperationTime}"></td>
                                <td style="text-align: center;vertical-align:middle" th:text="${rollbackList.Comment}"></td>
                                <td style="text-align: left;vertical-align:middle"> <a th:href="@{/historyProcess/{instanceid}(instanceid=${rollbackList.instantId})}" target="_blank" class="btn btn-minier bigger btn-success"><i class="icon-check"></i>任务信息</a>&nbsp
                                    <a th:href="@{/pdfViewer/web/viewer.html?file=/pdf/{missivetype}/{instanceid}/{version}/pdf2Pad/{taskid}.pdf(missivetype=${rollbackList.verType},instanceid=${rollbackList.instantId},version=${rollbackList.versionNum},taskid=${rollbackList.LastTaskId})}"
                                       class="btn btn-minier bigger btn-primary" target="_blank"><i class="icon-check"></i>查看公文</a>&nbsp


                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <div class="modal-footer no-margin-top" style="margin-bottom: 1px" id="lessThanFive">
                            <ul class="pagination pull-right no-margin">

                                <li  th:class="${pageNum1==1}?'prev disabled':'prev'">
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${pageNum1-1})}" th:onclick="${pageNum1==1}?'return false'">
                                        <i class="icon-double-angle-left"></i>
                                    </a>
                                </li>
                                <li th:each="num1: ${#numbers.sequence(1,totalPageForRollback)}" th:class="${num1==pageNum1}?'active'">
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li th:class="${pageNum1==totalPageForRollback}?'next disabled':'next'">
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1{pagenum}(pagenum=${pageNum1+1})}" th:onclick="${pageNum1==totalPageForRollback}?'return false'">
                                        <i class="icon-double-angle-right"></i>
                                    </a>
                                </li>


                            </ul>
                        </div>
                        <div class="modal-footer no-margin-top" style="margin-bottom: 1px" id="moreThanFive">
                            <ul class="pagination pull-right no-margin">

                                <li  th:class="${pageNum1==1}?'prev disabled':'prev'">
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${pageNum1-1})}" th:onclick="${pageNum1==1}?'return false'">
                                        <i class="icon-double-angle-left"></i>
                                    </a>
                                </li>
                                <!--<li  id="firstPage" th:each="num1:${#numbers.sequence(1, 1)}" th:class="${num1==DonePage}?'active'" >-->
                                <!--<a th:href="@{/wdgw/ybgw/{pagenum}/1/1/1(pagenum=${num1})}" th:text="${num1}"></a>-->
                                <!--</li>-->
                                <li id="pre" th:each="num1:${#numbers.sequence(pageNum1-4,pageNum1-4)}" th:class="${num1==pageNum1}?'active'" >
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="front" th:each="num1:${#numbers.sequence(pageNum1-3,pageNum1-3)}" th:class="${num1==pageNum1}?'active'" >
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="first" th:each="num1:${#numbers.sequence(pageNum1-2,pageNum1-2)}" th:class="${num1==pageNum1}?'active'" >
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="start" th:each="num1:${#numbers.sequence(pageNum1-1,pageNum1-1)}" th:class="${num1==pageNum1}?'active'" >
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li th:each="num1: ${#numbers.sequence(pageNum1,pageNum1)}" th:class="${num1==pageNum1}?'active'">
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>

                                <li id="end" th:each="num1: ${#numbers.sequence(pageNum1+1,pageNum1+1)}" th:class="${num1==pageNum1}?'active'">
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="last" th:each="num1: ${#numbers.sequence(pageNum1+2,pageNum1+2)}" th:class="${num1==pageNum1}?'active'">
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="rear" th:each="num1: ${#numbers.sequence(pageNum1+3,pageNum1+3)}" th:class="${num1==pageNum1}?'active'">
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="final" th:each="num1: ${#numbers.sequence(pageNum1+4,pageNum1+4)}" th:class="${num1==pageNum1}?'active'">
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <!--<li id="lastPage"  th:each="num1: ${#numbers.sequence(taskDoneTotalNum,taskDoneTotalNum)}" th:class="${num1==DonePage}?'active'">-->
                                <!--<a th:href="@{/wdgw/ybgw/{pagenum}/1/1/1(pagenum=${num1})}" th:text="${num1}"></a>-->
                                <!--</li>-->
                                <li th:class="${pageNum1==totalPageForRollback}?'next disabled':'next'">
                                    <a th:href="@{/displayInfo/rollback/{pagenum}/1/1(pagenum=${pageNum1+1})}" th:onclick="${pageNum1==totalPageForRollback}?'return false'">
                                        <i class="icon-double-angle-right"></i>
                                    </a>
                                </li>


                                <li  >
                                    <label>&nbsp共计</label>
                                    <label th:text="${totalPageForRollback}"></label>
                                    <label>页&nbsp跳转至：</label>
                                    <input type="text" style="width: 45px;margin-top: 3px " id="redirect" class="redirect" onchange="changePage(this)">
                                </li>



                            </ul>
                        </div>

                    </div>
                </div>
                <div id="deleted" th:class="${activeitem=='deleted'}?'tab-pane in active':'tab-pane'">
                    <div class="table-responsive">
                        <table id="deleted-table"
                               class="table table-bordered table-hover no-margin-bottom no-border-top"
                               style="background-color: #FFFFFF" onmousedown="trSelect3()">
                            <thead>
                            <tr>
                                <th style="text-align: center;width:110px">任务人</th>
                                <!--<th style="text-align: center;width:110px">操作</th>-->
                                <th style="text-align: center;width:170px">任务名称</th>
                                <th style="text-align: center">公文标题</th>
                                <th style="text-align: center;width:130px">操作时间</th>
                                <th style="text-align: center;width:130px">删除理由</th>
                                <th style="text-align: center;width:130px">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr style="height:50px" th:each="deletedList: ${deletedLsit}">
                                <!--<td style="text-align: center;vertical-align:middle" th:text="${deletedLsit.OperatorName}"></td>-->
                                <td style="text-align: center;vertical-align:middle"
                                    th:text="${deletedList.Operator}"></td>
                                <td style="text-align: center;vertical-align:middle"
                                    th:text="${deletedList.taskName}"></td>
                                <td style="text-align: center;vertical-align:middle"
                                    th:text="${deletedList.MissiveTitle}"></td>
                                <td style="text-align: center;vertical-align:middle"
                                    th:text="${deletedList.OperationTime}"></td>
                                <td style="text-align: center;vertical-align:middle"
                                    th:text="${deletedList.Comment}"></td>
                                <td style="text-align: center;vertical-align:middle">
                                    <a class="btn btn-minier bigger btn-danger" th:attr="data-instantid=${deletedList.instantId}" onclick="RecoverTask(this)"><i class="icon-check"></i>恢复任务</a>
                                    <a th:href="@{/historyProcess/{instanceid}(instanceid=${deletedList.instantId})}" target="_blank" class="btn btn-minier bigger btn-success"><i class="icon-check"></i>任务信息</a>&nbsp
                                    <a th:href="@{/pdfViewer/web/viewer.html?file=/pdf/{missivetype}/{instanceid}/{version}/pdf2Pad/{taskid}.pdf(missivetype=${deletedList.verType},instanceid=${deletedList.instantId},version=${deletedList.versionNum},taskid=${deletedList.LastTaskId})}"
                                       class="btn btn-minier bigger btn-primary" target="_blank"><i class="icon-check"></i>查看公文</a>&nbsp

                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="modal-footer no-margin-top" style="margin-bottom: 1px" id="lessThanFive2">
                            <ul class="pagination pull-right no-margin">

                                <li  th:class="${pageNum2==1}?'prev disabled':'prev'">
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${pageNum2-1})}" th:onclick="${pageNum2==1}?'return false'">
                                        <i class="icon-double-angle-left"></i>
                                    </a>
                                </li>
                                <li th:each="num1: ${#numbers.sequence(1,totalPageFordeleted)}" th:class="${num1==pageNum2}?'active'">
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li th:class="${pageNum2==totalPageFordeleted}?'next disabled':'next'">
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1{pagenum}(pagenum=${pageNum2+1})}" th:onclick="${pageNum2==totalPageFordeleted}?'return false'">
                                        <i class="icon-double-angle-right"></i>
                                    </a>
                                </li>


                            </ul>
                        </div>
                        <div class="modal-footer no-margin-top" style="margin-bottom: 1px" id="moreThanFive2">
                            <ul class="pagination pull-right no-margin">

                                <li  th:class="${pageNum2==1}?'prev disabled':'prev'">
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${pageNum2-1})}" th:onclick="${pageNum2==1}?'return false'">
                                        <i class="icon-double-angle-left"></i>
                                    </a>
                                </li>
                                <!--<li  id="firstPage" th:each="num1:${#numbers.sequence(1, 1)}" th:class="${num1==DonePage}?'active'" >-->
                                <!--<a th:href="@{/wdgw/ybgw/{pagenum}/1/1/1(pagenum=${num1})}" th:text="${num1}"></a>-->
                                <!--</li>-->
                                <li id="pre2" th:each="num1:${#numbers.sequence(pageNum2-4,pageNum2-4)}" th:class="${num1==pageNum2}?'active'" >
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="front2" th:each="num1:${#numbers.sequence(pageNum2-3,pageNum2-3)}" th:class="${num1==pageNum2}?'active'" >
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="first2" th:each="num1:${#numbers.sequence(pageNum2-2,pageNum2-2)}" th:class="${num1==pageNum2}?'active'" >
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="start2" th:each="num1:${#numbers.sequence(pageNum2-1,pageNum2-1)}" th:class="${num1==pageNum2}?'active'" >
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li th:each="num1: ${#numbers.sequence(pageNum2,pageNum2)}" th:class="${num1==pageNum2}?'active'">
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>

                                <li id="end2" th:each="num1: ${#numbers.sequence(pageNum2+1,pageNum2+1)}" th:class="${num1==pageNum2}?'active'">
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="last2" th:each="num1: ${#numbers.sequence(pageNum2+2,pageNum2+2)}" th:class="${num1==pageNum2}?'active'">
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="rear2" th:each="num1: ${#numbers.sequence(pageNum2+3,pageNum2+3)}" th:class="${num1==pageNum2}?'active'">
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="final2" th:each="num1: ${#numbers.sequence(pageNum2+4,pageNum2+4)}" th:class="${num1==pageNum2}?'active'">
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <!--<li id="lastPage"  th:each="num1: ${#numbers.sequence(taskDoneTotalNum,taskDoneTotalNum)}" th:class="${num1==DonePage}?'active'">-->
                                <!--<a th:href="@{/wdgw/ybgw/{pagenum}/1/1/1(pagenum=${num1})}" th:text="${num1}"></a>-->
                                <!--</li>-->
                                <li th:class="${pageNum2==totalPageFordeleted}?'next disabled':'next'">
                                    <a th:href="@{/displayInfo/deleted/1/{pagenum}/1(pagenum=${pageNum2+1})}" th:onclick="${pageNum2==totalPageFordeleted}?'return false'">
                                        <i class="icon-double-angle-right"></i>
                                    </a>
                                </li>


                                <li  >
                                    <label>&nbsp共计</label>
                                    <label th:text="${totalPageFordeleted}"></label>
                                    <label>页&nbsp跳转至：</label>
                                    <input type="text" style="width: 45px;margin-top: 3px " id="redirect2" class="redirect" onchange="changePage2(this)">
                                </li>



                            </ul>
                        </div>

                    </div>
                </div>

                <div id="delegator" th:class="${activeitem=='delegator'}?'tab-pane in active':'tab-pane'">
                    <div class="table-responsive">
                        <table id="delegator-table"
                               class="table table-bordered table-hover no-margin-bottom no-border-top"
                               style="background-color: #FFFFFF" onmousedown="trSelect4()">
                            <thead>
                            <tr>

                                <!--<th style="text-align: center;width:110px">操作</th>-->
                                <th style="text-align: center;width:110px">任务人</th>
                                <!--<th style="text-align: center;width:170px">任务名称</th>-->
                                <th style="text-align: center;width:110px">原任务</th>
                                <th style="text-align: center">目标任务</th>
                                <th style="text-align: center">跳转原因</th>
                                <th style="text-align: center">公文标题</th>
                                <th style="text-align: center;width:130px">操作时间</th>
                                <th style="text-align: center;width:130px">操作</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr style="height:50px" th:each="delegatorList: ${delegatorList}">
                                <!--<td style="text-align: center;vertical-align:middle"-->
                                    <!--th:text="${delegatorList.OperatorName}"></td>-->
                                <td style="text-align: center;vertical-align:middle"
                                    th:text="${delegatorList.Operator} "></td>
                                <td style="text-align: center;vertical-align:middle"
                                    th:text="${delegatorList.OrginalNode}"  ></td>
                                <td style="text-align: center;vertical-align:middle"
                                    th:text="${delegatorList.JumpTo} "  ></td>
                                <td style="text-align: center;vertical-align:middle"
                                    th:text="${delegatorList.Comment} "></td>
                                <td style="text-align: center;vertical-align:middle"
                                    th:text="${delegatorList.MissiveTitle}"></td>

                                <td style="text-align: center;vertical-align:middle"
                                    th:text="${delegatorList.OperationTime}"></td>
                                <td style="text-align: center;vertical-align:middle">

                                    <a th:href="@{/historyProcess/{instanceid}(instanceid=${delegatorList.instantId})}" target="_blank" class="btn btn-minier bigger btn-success"><i class="icon-check"></i>任务信息</a>&nbsp
                                    <a th:href="@{/pdfViewer/web/viewer.html?file=/pdf/{missivetype}/{instanceid}/{version}/pdf2Pad/{taskid}.pdf(missivetype=${delegatorList.verType},instanceid=${delegatorList.instantId},version=${delegatorList.versionNum},taskid=${delegatorList.LastTaskId})}"
                                       class="btn btn-minier bigger btn-primary" target="_blank"><i class="icon-check"></i>查看公文</a>&nbsp

                                </td>

                            </tr>
                            </tbody>
                        </table>
                        <div class="modal-footer no-margin-top" style="margin-bottom: 1px" id="lessThanFive3">
                            <ul class="pagination pull-right no-margin">

                                <li  th:class="${pageNum3==1}?'prev disabled':'prev'">
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${pageNum3-1})}" th:onclick="${pageNum3==1}?'return false'">
                                        <i class="icon-double-angle-left"></i>
                                    </a>
                                </li>
                                <li th:each="num1: ${#numbers.sequence(1,totalPageFordelegator)}" th:class="${num1==pageNum3}?'active'">
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li th:class="${pageNum3==totalPageFordelegator}?'next disabled':'next'">
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${pageNum3+1})}" th:onclick="${pageNum3==totalPageFordelegator}?'return false'">
                                        <i class="icon-double-angle-right"></i>
                                    </a>
                                </li>


                            </ul>
                        </div>
                        <div class="modal-footer no-margin-top" style="margin-bottom: 1px" id="moreThanFive3">
                            <ul class="pagination pull-right no-margin">

                                <li  th:class="${pageNum3==1}?'prev disabled':'prev'">
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${pageNum3-1})}" th:onclick="${pageNum3==1}?'return false'">
                                        <i class="icon-double-angle-left"></i>
                                    </a>
                                </li>
                                <!--<li  id="firstPage" th:each="num1:${#numbers.sequence(1, 1)}" th:class="${num1==DonePage}?'active'" >-->
                                <!--<a th:href="@{/wdgw/ybgw/{pagenum}/1/1/1(pagenum=${num1})}" th:text="${num1}"></a>-->
                                <!--</li>-->
                                <li id="pre3" th:each="num1:${#numbers.sequence(pageNum3-4,pageNum3-4)}" th:class="${num1==pageNum3}?'active'" >
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="front3" th:each="num1:${#numbers.sequence(pageNum3-3,pageNum3-3)}" th:class="${num1==pageNum3}?'active'" >
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="first3" th:each="num1:${#numbers.sequence(pageNum3-2,pageNum3-2)}" th:class="${num1==pageNum3}?'active'" >
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="start3" th:each="num1:${#numbers.sequence(pageNum3-1,pageNum3-1)}" th:class="${num1==pageNum3}?'active'" >
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li th:each="num1: ${#numbers.sequence(pageNum3,pageNum3)}" th:class="${num1==pageNum3}?'active'">
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>

                                <li id="end3" th:each="num1: ${#numbers.sequence(pageNum3+1,pageNum3+1)}" th:class="${num1==pageNum3}?'active'">
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="last3" th:each="num1: ${#numbers.sequence(pageNum3+2,pageNum3+2)}" th:class="${num1==pageNum3}?'active'">
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="rear3" th:each="num1: ${#numbers.sequence(pageNum3+3,pageNum3+3)}" th:class="${num1==pageNum3}?'active'">
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <li id="final3" th:each="num1: ${#numbers.sequence(pageNum3+4,pageNum3+4)}" th:class="${num1==pageNum3}?'active'">
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${num1})}" th:text="${num1}"></a>
                                </li>
                                <!--<li id="lastPage"  th:each="num1: ${#numbers.sequence(taskDoneTotalNum,taskDoneTotalNum)}" th:class="${num1==DonePage}?'active'">-->
                                <!--<a th:href="@{/wdgw/ybgw/{pagenum}/1/1/1(pagenum=${num1})}" th:text="${num1}"></a>-->
                                <!--</li>-->
                                <li th:class="${pageNum3==totalPageFordelegator}?'next disabled':'next'">
                                    <a th:href="@{/displayInfo/delegator/1/1/{pagenum}(pagenum=${pageNum3+1})}" th:onclick="${pageNum3==totalPageFordelegator}?'return false'">
                                        <i class="icon-double-angle-right"></i>
                                    </a>
                                </li>


                                <li  >
                                    <label>&nbsp共计</label>
                                    <label th:text="${totalPageFordelegator}"></label>
                                    <label>页&nbsp跳转至：</label>
                                    <input type="text" style="width: 45px;margin-top: 3px " id="redirect3" class="redirect" onchange="changePage3(this)">
                                </li>



                            </ul>
                        </div>

                    </div>
                </div>
            </div>


            </div>


            <!-- PAGE CONTENT ENDS -->
            </div><!-- /.col -->
            </div><!-- /.row -->
            </div><!-- /.page-content -->

        </div>

    </div><!-- /.main-container-inner -->

<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="/assets/js/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/assets/js/jquery.1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
<script style="javascript" th:inline="javascript">
   var rollbackList=/*[[${rollbackList}]]*/[];
   var deletedLsit=/*[[${deletedLsit}]]*/[];
   var delegatorList=/*[[${delegatorList}]]*/[];
   var totalPageForRollback=/*[[${totalPageForRollback}]]*/[];
   var totalPageFordeleted=/*[[${totalPageFordeleted}]]*/[];
   var totalPageFordelegator=/*[[${totalPageFordelegator}]]*/[];
   var pageNum1=/*[[${pageNum1}]]*/[];
   var pageNum2=/*[[${pageNum2}]]*/[];
   var pageNum3=/*[[${pageNum3}]]*/[];
   var totalTaskForRollback=/*[[${totalTaskForRollback}]]*/[];
   var totalTaskFordeleted=/*[[${totalTaskFordeleted}]]*/[];
   var totalTaskFordelegator=/*[[${totalTaskFordelegator}]]*/[];



   jQuery(function ($) {

       if(totalPageForRollback>=5){
           $("#lessThanFive").attr("style","display:none");
       }else if(totalPageForRollback<5){
           $("#moreThanFive").attr("style","display:none");

       }
       if (pageNum1 == 2) {

           //$("#start").attr("style", "display:none");
           $("#first").attr("style", "display:none");
           $("#front").attr("style","display:none");
           $("#pre").attr("style", "display:none");
           $("#final").attr("style", "display:none");

       }
       else if (pageNum1 == 1) {

           $("#start").attr("style", "display:none");
           $("#firstPage").attr("style", "display:none");
           $("#first").attr("style", "display:none");
           $("#front").attr("style","display:none");
           $("#pre").attr("style","display:none");


       }
       else if (pageNum1 == (totalPageForRollback - 1)) {

           // $("#end").attr("style", "display:none");
           $("#last").attr("style", "display:none");
           $("#pre").attr("style","display:none");
           $("#rear").attr("style", "display:none");
           $("#final").attr("style", "display:none");



       }
       else if (pageNum1 == totalPageForRollback) {
           $("#end").attr("style", "display:none");
           $("#last").attr("style", "display:none");
           $("#lastPage").attr("style", "display:none");
           // $("#front").attr("style","display:none");
           $("#rear").attr("style", "display:none");
           $("#final").attr("style", "display:none");

       }else{
           $("#front").attr("style","display:none");
           $("#pre").attr("style","display:none");
           $("#rear").attr("style", "display:none");
           $("#final").attr("style", "display:none");

       }

       if(totalPageFordeleted>=5){
           $("#lessThanFive2").attr("style","display:none");
       }else if(totalPageFordeleted<5){
           $("#moreThanFive2").attr("style","display:none");

       }
       if (pageNum2 == 2) {

           //$("#start").attr("style", "display:none");
           $("#first2").attr("style", "display:none");
           $("#front2").attr("style","display:none");
           $("#pre2").attr("style", "display:none");
           $("#final2").attr("style", "display:none");

       }
       else if (pageNum2 == 1) {

           $("#start2").attr("style", "display:none");
           $("#firstPage2").attr("style", "display:none");
           $("#first2").attr("style", "display:none");
           $("#front2").attr("style","display:none");
           $("#pre2").attr("style","display:none");


       }
       else if (pageNum2 == (totalPageFordeleted - 1)) {

           // $("#end").attr("style", "display:none");
           $("#last2").attr("style", "display:none");
           $("#pre2").attr("style","display:none");
           $("#rear2").attr("style", "display:none");
           $("#final2").attr("style", "display:none");



       }
       else if (pageNum2 == totalPageFordeleted) {
           $("#end2").attr("style", "display:none");
           $("#last2").attr("style", "display:none");
           $("#lastPage2").attr("style", "display:none");
           // $("#front").attr("style","display:none");
           $("#rear2").attr("style", "display:none");
           $("#final2").attr("style", "display:none");

       }else{
           $("#front2").attr("style","display:none");
           $("#pre2").attr("style","display:none");
           $("#rear2").attr("style", "display:none");
           $("#final2").attr("style", "display:none");

       }

       if(totalPageFordelegator>=5){
           $("#lessThanFive3").attr("style","display:none");
       }else if(totalPageFordelegator<5){
           $("#moreThanFive3").attr("style","display:none");

       }
       if (pageNum3 == 2) {

           //$("#start").attr("style", "display:none");
           $("#first3").attr("style", "display:none");
           $("#front3").attr("style","display:none");
           $("#pre3").attr("style", "display:none");
           $("#final3").attr("style", "display:none");

       }
       else if (pageNum3 == 1) {

           $("#start3").attr("style", "display:none");
           $("#firstPage3").attr("style", "display:none");
           $("#first3").attr("style", "display:none");
           $("#front3").attr("style","display:none");
           $("#pre3").attr("style","display:none");


       }
       else if (pageNum3 == (totalPageFordelegator - 1)) {

           // $("#end").attr("style", "display:none");
           $("#last3").attr("style", "display:none");
           $("#pre3").attr("style","display:none");
           $("#rear3").attr("style", "display:none");
           $("#final3").attr("style", "display:none");



       }
       else if (pageNum3 == totalPageFordelegator) {
           $("#end3").attr("style", "display:none");
           $("#last3").attr("style", "display:none");
           $("#lastPage3").attr("style", "display:none");
           // $("#front").attr("style","display:none");
           $("#rear3").attr("style", "display:none");
           $("#final3").attr("style", "display:none");

       }else{
           $("#front3").attr("style","display:none");
           $("#pre3").attr("style","display:none");
           $("#rear3").attr("style", "display:none");
           $("#final3").attr("style", "display:none");

       }



   });

   function changePage(vi){
       if(vi.value>totalPageForRollback||vi.value<1){

           var warnning="请输入1到"+totalPageForRollback+"之间的页数";
           swal({title:'错误提示',text:warnning,type:'error',confirmButtonText:'确定'});
           //swal("请输入1到"+taskDoneTotalNum+"之间的页数");
       }else{
           var pageNum=vi.value;
           window.location.href="/displayInfo/rollback/"+pageNum+"/1/1";
       }


   }

   function RecoverTask(e){
       var instantId=$(e).attr("data-instantid");
       $.ajax({
           url: '/api/recoverTask/'+instantId,
           type: 'post',
           success: function () {


           },
           error: function () {

           }
       });


   }

   function changePage2(vi){
       if(vi.value>totalPageFordeleted||vi.value<1){

           var warnning="请输入1到"+totalPageFordeleted+"之间的页数";
           swal({title:'错误提示',text:warnning,type:'error',confirmButtonText:'确定'});
           //swal("请输入1到"+taskDoneTotalNum+"之间的页数");
       }else{
           var pageNum=vi.value;
           window.location.href="/displayInfo/deleted/1/"+pageNum+"/1";
       }


   }
   function changePage3(vi){
       if(vi.value>totalPageFordelegator||vi.value<1){

           var warnning="请输入1到"+totalPageFordelegator+"之间的页数";
           swal({title:'错误提示',text:warnning,type:'error',confirmButtonText:'确定'});
           //swal("请输入1到"+taskDoneTotalNum+"之间的页数");
       }else{
           var pageNum=vi.value;
           window.location.href="/displayInfo/delegator/1/1/"+pageNum;
       }


   }

   function trSelect2(){
       var tbl = document.getElementById("rollback-table");
       for(var i = 1; i < tbl.rows.length; i++){
           tbl.rows[i].onclick =function(){
               if(window.cur) window.cur.style.background = "#FFF";
               this.style.background = "#7DB4D8";
               window.cur = this;
           }
       }
   }

   function trSelect3(){
       var tbl = document.getElementById("deleted-table");
       for(var i = 1; i < tbl.rows.length; i++){
           tbl.rows[i].onclick =function(){
               if(window.cur) window.cur.style.background = "#FFF";
               this.style.background = "#7DB4D8";
               window.cur = this;
           }
       }
   }
   function trSelect4(){
       var tbl = document.getElementById("delegator-table");
       for(var i = 1; i < tbl.rows.length; i++){
           tbl.rows[i].onclick =function(){
               if(window.cur) window.cur.style.background = "#FFF";
               this.style.background = "#7DB4D8";
               window.cur = this;
           }
       }
   }

</script>

</body>
</html>
