<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <title>收文稿纸信息</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script th:replace="header :: header"></script>

</head>

<body>
<script>

    var userbase64 = "[[${userbase64}]]";

</script>

<div th:replace="navbar :: navbar(${session.user})"></div>

<div class="main-container" id="main-container">
    <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>


        <div th:replace="slider :: slidermenu(${'dbzx'})"></div>


        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">首页</a>
                    </li>
                    <li class="#">收文稿纸</li>
                </ul><!-- .breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                                        <span class="input-icon">
                                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                                            <i class="icon-search nav-search-icon"></i>
                                        </span>
                    </form>
                </div><!-- #nav-search -->
            </div>

            <div class="page-content">


                <!-- /.page-header -->

                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->

                        <div style="height: 1400px">
                            <img th:src=@{/api/bgPng/small/missiveReceive/{instanceid}(instanceid=${instanceid})}
                                 th:if="${hasBgPng}"
                                 style="float:left;top:0px;left:0px;width: 1030px;height:1460px"/>


                            <div id="missiveReceive" style="position:absolute;width:891px;height:1260px;background-image:url('/img/missiveReceive_small.png');margin-left: 70px;margin-top:100px;background-size:contain;background-repeat:no-repeat;z-index: -1;font-family: '微软雅黑'">
                                <!--收文年月日-->
                                <div style="position:absolute;top:98px;left:310px;width:60px;height:30px">
                                    <label id="receiveYears"style="width:100%;height:100%;font-size: 20px"></label>
                                </div>
                                <div style="position:absolute;top:98px;left:397px;width:30px;height:30px">
                                    <lablel id="receiveMonths" style="font-size:20px;width:100%;height:100%" ></lablel>
                                </div>
                                <div style="position:absolute;top:98px;left:445px">
                                    <label id="receiveDays" style="font-size:20px;width:30px;height:30px;"></label>
                                </div>
                                <!--收文号-->
                                <div style="position:absolute;top:98px;left:675px;">
                                    <label id="M_receiveNums"style="font-size: 20px"></label>
                                </div>
                                <!-- 文件字号-->
                                <div id="file" style="position:absolute;top:146px;left:275px;" >
                                    <label id="missiveNums" style="font-size:20px;width:402px;height:45px"></label>
                                </div>
                                <!--文件份数-->
                                <div id="fileCount" style="position:absolute;border-style:none;top:146px;left:690px" >
                                    <label id="missiveCounts"  style="margin-left:40px;margin-top:7px;font-size:20px;width:70px;height:45px"></label>
                                </div>
                                <!--紧急程度-->
                                <div id="emergencyLevelDiv" style="position:absolute;left:155px;top:199px;" >
                                    <label  name="emergencyLevels" id="emergencyLevels" style="margin-left:15px;font-size:20px;width:70px;height:45px"></label>
                                </div>
                                <!--办理时限-->
                                <div style="position:absolute;top:199px;left:640px;">
                                    <label id="deadlines" name="deadlines"  style="margin-left:15px;font-size:20px;width:200px;height:30px;"></label>
                                </div>
                                <!--来文摘要-->
                                <div style="width:780px;height:138px;position:absolute;top:275px;left:50px">
                                    <label  id="missiveaAbstracts" name="missiveaAbstracts" style="vertical-align:middle;font-size:20px;width: 100%;height: 100%"></label>
                                </div>
                                <!--办公室拟办-->
                                <div style="width:780px;height:80px;position:absolute;top:456px;left:50px;">
                                    <label  id="officeSuggests" name="officeSuggests" style="font-size:20px;width: 100%;height: 100%"></label>
                                </div>
                                <!--拟办时间-->
                                <div style="position:absolute;top:567px;left:735px;">
                                    <label id="officeSuggest_Months"  style="font-size:20px;width:35px;height:30px;"></label>
                                </div>
                                <div style="position:absolute;top:567px;left:785px">
                                    <label id="officeSuggest_Days" style="font-size:20px;width:35px;height:30px;"></label>
                                </div>
                                <!--领导批示-->
                                <div style="height: 156px;width: 790px;top: 640px;left: 50px;position: absolute">
                                    <label id="leaderInstruct_txt" style="width: 100%;height: 100%;border: none;font-size: 20px"></label>
                                </div>
                                <div th:if="${isNewImgsize}" style="height: 599px;width: 790px;top: 415px;left: 50px;position: absolute;">
                                    <img id="leaderInstuct_img" name="leaderInstuct_img" style="width: 100%;height: 100%;border: none;"/>
                                </div>
                                <div th:if="${!isNewImgsize}" style="height: 156px;width: 790px;top: 640px;left: 50px;position: absolute;">
                                    <img id="leaderInstuct_img" name="leaderInstuct_img" style="width: 100%;height: 100%;border: none;"/>
                                </div>

                                <div style="height: 156px;width: 790px;top: 640px;left: 50px;position: absolute;">
                                    <label id="leaderInstructBase30img" name="leaderInstructBase30img" hidden="hidden" style="border:none"/>
                                </div>
                                <!--批示时间-->
                                <div style="position:absolute;top:800px;left:740px;">
                                    <label id="signMonths" style="font-size:20px;width:35px;height:30px;"></label>
                                </div>
                                <div style="position:absolute; top:800px;left:785px;">
                                    <label id="signDays" style="font-size:20px;width:35px;height:30px;"></label>
                                </div>
                                <!--阅办人签字-->
                                <div style="height: 140px;width: 790px;top: 876px;left: 50px;position: absolute;">
                                    <label id="lookSign_txt" style="width: 100%;height: 100%;border:none;font-size:20px"></label>
                                </div>
                                <div style="height: 140px;width: 790px;top: 876px;left: 50px;position: absolute;">
                                    <img id="lookSign_img" style="width: 100%;height: 100%;border:none"/>
                                </div>
                                <div style="height: 140px;width: 790px;top: 876px;left: 50px;position: absolute">
                                    <label id="lookSignBase30img_sign" hidden="hidden"/>
                                </div>
                                <!--承办情况-->
                                <div style="height: 115px;width: 790px;top: 1050px;left: 50px;position: absolute;">
                                    <label id="undertake_txt" style="width: 100%;height: 100%;border:none;font-size:20px"></label>
                                </div>
                                <div style="height: 115px;width: 790px;top: 1050px;left: 50px;position: absolute;">
                                    <img id="undertake_img" style="width: 100%;height: 100%;border:none"/>
                                </div>
                                <div style="height: 115px;width: 790px;top: 1050px;left: 50px;position: absolute;border-style:none">
                                    <label id="undertakeBase30img_sign" hidden/>
                                </div>

                                    <div style="height: 75px;width: 770px;top: 1250px;left: 95px;position: absolute;" hidden="hidden">
                                        <tr th:class="${#lists.contains(editControl,'attachments')}?'hide':'trClass borderNone'" >
                                            <td class="borderNone" colspan="6">
                                                <div class="hr hr-double hr-dotted hr18"></div>
                                                <h3 class="header smaller lighter header-color-red">
                                                    <i class="icon-cloud-upload"></i>
                                                    上传附件
                                                </h3>
                                            </td>

                                        </tr>
                                        <tr th:class="${#lists.contains(editControl,'attachments')}?'hide':'trClass borderNone'" hidden="hidden">
                                            <td class="borderNone" colspan="6">

                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="demo-section k-header" id="filesDIV">
                                                            <input type="file" name="files" id="attachments"/>
                                                        </div>
                                                    </div>
                                                    <!-- /.col -->
                                                </div>
                                                <!-- /.row -->

                                            </td>

                                        </tr>
                                    </div>
                                    <div style="height: 75px;width: 770px;top: 1330px;left: 35px;position: absolute;">

                                    <tr class="trClass borderNone">
                                            <td class="borderNone" colspan="6">

                                                <div class="widget-box transparent">
                                                    <div  class="widget-header widget-header-small" >
                                                        <h4 class="blue smaller">
                                                            <i class="icon-list orange"></i>
                                                            附件
                                                        </h4>

                                                        <div class="widget-toolbar action-buttons">
                                                            <a href="#" data-action="collapse">
                                                                <i class="icon-chevron-up"></i>
                                                            </a>
                                                        </div>
                                                    </div>

                                                    <div class="widget-body" >
                                                        <div class="widget-main padding-8" id="fileList">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </div>






                                </div>

                            </div>


                        </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
            </div><!-- /.page-content -->
        </div><!-- /.main-content -->


    </div><!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="/assets/js/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/assets/js/jquery.1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<script src="/js/fileList.wls.js" type="text/javascript"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/js/kendo.all.min.js"></script>

<script th:inline="javascript" type="text/javascript" >

   //var instanceID = /*[[${instanceID}]]*/ 'instanceID';
    var missiveReceiveForm = /*[[${missiveReceiveForm}]]*/null;
    var currentEditableField = /*[[${editControl}]]*/[];
    var instanceId = [[${instanceId}]];//流程实例编号
   var missiveTitle="";
    //var versionNum =[[${versionNum}]];
   var versionNum=/*[[${newVersionId}]]*/ null;

    var resultFiles = [];//存放结果文件集合
    var initFiles = [];
    var version = 0;
    if (missiveReceiveForm != null) {
        if (missiveReceiveForm.title != null) {
            missiveTitle = missiveReceiveForm.title;
        }

    }
    if (missiveReceiveForm.missiveInfo != null) {
        if (missiveReceiveForm.missiveInfo.versions[0] != null) {
            if (missiveReceiveForm.missiveInfo.versions[0].versionNumber != 0)
                version = missiveReceiveForm.missiveInfo.versions[0].versionNumber;
        }
    }
    var filePath_version = 1;
    if (version == 0)
        filePath_version = version + 1;
    else
        filePath_version = version;

    $(function ($) {

        if (missiveReceiveForm.missiveInfo != null) {
            if (missiveReceiveForm.missiveInfo.versions[versionNum] != null) {
                if (missiveReceiveForm.missiveInfo.versions[versionNum].attachments.length != 0) {
                    for (var i = 0; i < missiveReceiveForm.missiveInfo.versions[versionNum].attachments.length; i++) {
                        var temp = {};
                        temp.extension = "." + missiveReceiveForm.missiveInfo.versions[versionNum].attachments[i].attachmentTittle.split('.')[missiveReceiveForm.missiveInfo.versions[versionNum].attachments[i].attachmentTittle.split('.').length - 1];//后缀
                        temp.name = missiveReceiveForm.missiveInfo.versions[versionNum].attachments[i].attachmentTittle;
                        temp.size = 1;
                        initFiles.push(temp);
                        //-------add list of attachments--->>>>>
                      fileListCreate("fileList", temp, "attachments", "filesDIV", currentEditableField);

                    }
                }
            }
        }
        resultFiles = initFiles;//将初始化的文件数字赋值给结果数据，然后将上传文件加入文件数组
        $("#attachments").kendoUpload({
            multiple: true,
            async: {
                saveUrl: '/missiveReceive/upload/' + instanceId,
                autoUpload: false
            },
            localization: {
                select: "选择文件....",
                uploadSelectedFiles: "上传"
            },
            success: onSuccess,
            select: onSelect,
            files: initFiles
        });

        for (var initfiles_i = 0; initfiles_i < initFiles.length; initfiles_i++) {
            var hide_init_file = $("span[class='k-filename'][title='" + initFiles[initfiles_i].name + "']");
            for (var hide_init_file_i = 0; hide_init_file_i < hide_init_file.length; hide_init_file_i++) {
                $(hide_init_file[hide_init_file_i]).parent()[0].setAttribute("class", "hide");
            }
        }


    });

    for (var i = 0; i < resultFiles.length; i++) {
        var temp = resultFiles[i];
        //-------add list of attachments--->>>>>
        fileListCreate("fileList", temp, "attachments", "filesDIV", currentEditableField);
    }



    function onSelect(e) {
        var file_extentAllowed=[".pdf",".PDF",".docx",".DOCX",".doc",".DOC",".xls",".XLS",".xlsx",".XLSX",".ppt",".pptx"];
        var resualt=e.files;
        console.log(resualt)
        $.each(resualt,function(index,val){
            var upfile_extent=val.extension;
            console.log(upfile_extent)
            if(!($.inArray(upfile_extent, file_extentAllowed) > -1)){
                swal("不支持的文件格式","请上传 [ doc, xls, docx, xlsx,ppt,pptx ] 的 Office 文件","error");
                e.preventDefault();
            }
        })
    }

    //上传文件成功时触发事件
    function onSuccess(e) {
        // Array with information about the uploaded files
        var files = e.files;
        //将上传的文件写入到resultFiles数组中

        if (e.operation == "upload") {
            if (e.response == true) {
                addObjFromObj(e);//添加文件信息到文件数组
            }
        } else {
            if (e.response == true) {
                //初始文件对象中删除指定对象
                delObjFromObj(e);
            }
        }
        if (missiveTitle != "") {//如果流程不是首次创建，则有公文名存在，则版本需要+1；否则公文版本不变
            filePath_version = version + 1;
        }

        $("#fileList").empty();
        for (var i = 0; i < resultFiles.length; i++) {
            var temp = resultFiles[i];


            //-------add list of attachments--->>>>>
            fileListCreate("fileList", temp, "attachments", "filesDIV", currentEditableField);

        }

    }
    //初始文件对象中增加上传文件对象
    function addObjFromObj(e) {
        var files = e.files[0];

        var fileName = e.files[0].name;
        resultFiles = resultFiles.filter(function (el) {
            return el.name !== fileName;
        });

        var temp = {};
        temp.name = files.name;//文件名
        temp.extension = files.extension;//后缀名
        temp.size = 1;
        resultFiles.push(temp);
        var hide_span_file = $("span[class='k-filename'][title='" + e.files[0].name + "']");
        for (var span_file_i = 0; span_file_i < hide_span_file.length; span_file_i++) {
            $(hide_span_file[span_file_i]).parent()[0].setAttribute("class", "hide");
        }
    }

    function kendoUpload(e) {
        var files = e.files[0];

        var fileName = e.files[0].name;
        resultFiles = resultFiles.filter(function (el) {
            return el.name !== fileName;
        });

        var temp = {};
        temp.name = files.name;//文件名
        temp.extension = files.extension;//后缀名
        temp.size = 1;
        resultFiles.push(temp);
        var hide_span_file = $("span[class='k-filename'][title='" + e.files[0].name + "']");
        for (var span_file_i = 0; span_file_i < hide_span_file.length; span_file_i++) {
            $(hide_span_file[span_file_i]).parent()[0].setAttribute("class", "hide");
        }
    }
    function fileListCreate(fileListDiv_id, file, attachment_id, attachmentparent_id, editableElementList) {
        //fileListDiv_id--文件列表的id
        //file：文件{name;extension;size}
        //attachment_id:附件控件的id   //其必须有父级元素
        //attachmentparent_id:父级元素
        //editableElementList：当前可编辑控件集合的数组
        //pdfViewerURL:pdf浏览器URL
        //fileURL：文件下载的URL
        //fileUploadUrl  文件上传的URL//'/missivePublish/upload/'+instanceID,
        //fileRemoveURL;文件删除的URL// "/missivePublish/remove/"+instanceID;
//
//    var tempname = file.name;
//    var start = tempname.lastIndexOf(".") + 1;
//    var end = tempname.length
//    var suffix = tempname.substring(start, end);

        var pdfViewerURL = "/pdfViewer/web/viewer.html?file=";
        var fileURL = "/pdf/missiveReceive/" + instanceId + "/" + filePath_version + "/" + file.name;
        var fileRemoveURL = "";
        //var fileRemoveURL = "/missiveReceive/remove/" + instanceId;
        var fileUploadUrl = "/missiveReceive/upload/" + instanceId;
        createFileListElement(fileListDiv_id, file, attachment_id, attachmentparent_id, editableElementList, pdfViewerURL, fileURL, fileUploadUrl, fileRemoveURL);

    }





//   var missiveReceiveForm = /*[[${missiveReceiveForm}]]*/null;
//   var currentEditableField = /*[[${editControl}]]*/[];
//  // var instanceId = [[${instanceId}]];//流程实例编号
//   var missiveTitle="";
//
//   var instanceID = /*[[${instanceId}]]*/ 0;
//
//
//
//   var resultFiles=[];//存放结果文件集合
//   var initFiles = [];
//   var fileUploadFlag=0;
//   var version=0;
//   if(missiveReceiveForm.missiveInfo!=null){
//       if(missiveReceiveForm.missiveInfo.versions[0]!=null){
//           if(missiveReceiveForm.missiveInfo.versions[0].versionNumber!=0)
//               version=missiveReceiveForm.missiveInfo.versions[0].versionNumber;
//       }
//   }
//   var filePath_version=1;
//   if(version==0)
//       filePath_version=version+1;
//   else
//       filePath_version=version;
//   $(function($) {
//       <!--上传文件相关js代码-->
////        var attachmentkendoUpload = $("#attachments").data("kendoUpload").options.files;
//
//       if (missiveReceiveForm.missiveInfo != null) {
//           if (missiveReceiveForm.missiveInfo.versions[0] != null) {
//               if (missiveReceiveForm.missiveInfo.versions[0].attachments.length != 0) {
//                   for (var i = 0; i < missiveReceiveForm.missiveInfo.versions[0].attachments.length; i++) {
//                       var temp = {};
//                       temp.extension = "." + missiveReceiveForm.missiveInfo.versions[0].attachments[i].attachmentTittle.split('.')[missiveReceiveForm.missiveInfo.versions[0].attachments[i].attachmentTittle.split('.').length - 1];//后缀
//                       temp.name = missiveReceiveForm.missiveInfo.versions[0].attachments[i].attachmentTittle;
//                       temp.size = 1;
//                       initFiles.push(temp);
//                       //-------add list of attachments--->>>>>
//                       //fileListCreate("fileList", temp, "attachments", "filesDIV", currentEditableField);
//
//                   }
//               }
//           }
//       }
//       resultFiles=initFiles;//将初始化的文件数字赋值给结果数据，然后将上传文件加入文件数组
//       $("#attachments").kendoUpload({
//           multiple: true,
//           async: {
//               saveUrl: '/missiveReceive/upload/'+instanceID,
//               autoUpload: false
//           },
//           localization: {
//               select: "选择文件....",
//               uploadSelectedFiles:"上传",
//               statusFailed: "失败",
//               headerStatusUploaded: " ",
//               headerStatusUploading: "上传中..."
//               ,cancel: "取消"
//               ,remove:"删除"
//               ,retry:"重试"
//
//           },
//           select: onSelect,
//           success: onSuccess,
//           files: initFiles
//       });
//       //set init_files visible be false;
//       for(var initfiles_i=0;initfiles_i<initFiles.length;initfiles_i++){
//           var hide_init_file=$("span[class='k-filename'][title='"+initFiles[initfiles_i].name+"']");
//           for(var hide_init_file_i=0;hide_init_file_i<hide_init_file.length;hide_init_file_i++){
//               $(hide_init_file[hide_init_file_i]).parent()[0].setAttribute("class","hide");
//           }
//       }
//
//
//
//   });
//   //选择文件时触发事件
//   function onSelect(e) {
//       var file_extentAllowed=[".pdf",".PDF",".docx",".DOCX",".doc",".DOC",".xls",".XLS",".xlsx",".XLSX"];
//       var resualt=e.files;
//       $.each(resualt,function(index,val){
//           var upfile_extent=val.extension;
//           if(!($.inArray(upfile_extent, file_extentAllowed) > -1)){
//               swal("不支持的文件格式","请上传 [ doc, xls, docx, xlsx ] 的 Office 文件","error");
//               e.preventDefault();
//           }
//       })
//   }
//
//   //上传文件成功时触发事件
//   function onSuccess(e) {
//       // Array with information about the uploaded files
//       var files = e.files;
//       //将上传的文件写入到resultFiles数组中
//
//       if(e.operation=="upload"){
//           if (e.response == true) {
//               addObjFromObj(e);//添加文件信息到文件数组
//           }
//       }else{
//           if (e.response == true) {
//               //初始文件对象中删除指定对象
//               delObjFromObj(e);
//           }
//       }
//
//       filePath_version=version+1;
//       $("#fileList").empty();
//       for(var i=0;i<resultFiles.length;i++){
//           var temp=resultFiles[i];
//           //-------add list of attachments--->>>>>
//           fileListCreate("fileList",temp,"attachments","filesDIV",currentEditableField);
//       }
//       fileUploadFlag=1;//上传过附件的标记
//   }
//
//
//
//   //初始文件对象中增加上传文件对象
//   function addObjFromObj(e){
//       var files= e.files[0];
//
//       var fileName = e.files[0].name;
//       resultFiles=resultFiles.filter(function(el){
//           return el.name!==fileName;
//       });
//       var temp={};
//       temp.name= files.name;//文件名
//       temp.extension=files.extension;//后缀名
//       temp.size=1;
//       resultFiles.push(temp);
//       var hide_span_file=$("span[class='k-filename'][title='"+e.files[0].name+"']");
//       for(var span_file_i=0;span_file_i<hide_span_file.length;span_file_i++){
//           $(hide_span_file[span_file_i]).parent()[0].setAttribute("class","hide");
//       }
//   }
//   function fileListCreate(fileListDiv_id,file,attachment_id,attachmentparent_id,editableElementList){
//       //fileListDiv_id--文件列表的id
//       //file：文件{name;extension;size}
//       //attachment_id:附件控件的id   //其必须有父级元素
//       //attachmentparent_id:父级元素
//       //editableElementList：当前可编辑控件集合的数组
//       //pdfViewerURL:pdf浏览器URL
//       //fileURL：文件下载的URL
//       //fileUploadUrl  文件上传的URL//'/missivePublish/upload/'+instanceID,
//       //fileRemoveURL;文件删除的URL// "/missivePublish/remove/"+instanceID;
//       var pdfViewerURL="/pdfViewer/web/viewer.html?file=";
//       var fileURL="/pdf/missiveReceive/"+instanceID+"/"+filePath_version+"/"+file.name;
//       var fileRemoveURL = "/missiveReceive/remove/"+instanceID;
//       var fileUploadUrl="/missiveReceive/upload/"+instanceID;
//       createFileListElement(fileListDiv_id,file,attachment_id,attachmentparent_id,editableElementList,pdfViewerURL,fileURL,fileUploadUrl,fileRemoveURL);
//   }
//   var uploadattachments = $("#attachments").data("kendoUpload");
//   if ($.inArray("attachments", currentEditableField) > -1) {
////            uploadattachments.disable();
//   }
//   else {
//       uploadattachments.disable();
//   }
//   // enables the upload


   var blankImg="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAxEAAAFjCAYAAABCEoaFAAAWB0lEQVR4Xu3XoREAAAgDMbr/" +
           "0szwPuiqHOZ3jgABAgQIECBAgAABAkFgYWtKgAABAgQIECBAgACBExGegAABAgQIECBAgACBJCAiEpcxAQIECBAgQIAAAQIiwg8QIECAAAECBAgQIJAERETiMiZAgAABAgQIE" +
           "CBAQET4AQIECBAgQIAAAQIEkoCISFzGBAgQIECAAAECBAiICD9AgAABAgQIECBAgEASEBGJy5gAAQIECBAgQIAAARHhBwgQIECAAAECBAgQSAIiInEZEyBAgAABAgQIECAgIvw" +
           "AAQIECBAgQIAAAQJJQEQkLmMCBAgQIECAAAECBESEHyBAgAABAgQIECBAIAmIiMRlTIAAAQIECBAgQICAiPADBAgQIECAAAECBAgkARGRuIwJECBAgAABAgQIEBARfoAAAQIECB" +
           "AgQIAAgSQgIhKXMQECBAgQIECAAAECIsIPECBAgAABAgQIECCQBERE4jImQIAAAQIECBAgQEBE+AECBAgQIECAAAECBJKAiEhcxgQIECBAgAABAgQIiAg/QIAAAQIECBAgQIBAEh" +
           "ARicuYAAECBAgQIECAAAER4QcIECBAgAABAgQIEEgCIiJxGRMgQIAAAQIECBAgICL8AAECBAgQIECAAAECSUBEJC5jAgQIECBAgAABAgREhB8gQIAAAQIECBAgQCAJiIjEZUyAAAE" +
           "CBAgQIECAgIjwAwQIECBAgAABAgQIJAERkbiMCRAgQIAAAQIECBAQEX6AAAECBAgQIECAAIEkICISlzEBAgQIECBAgAABAiLCDxAgQIAAAQIECBAgkAREROIyJkCAAAECBAgQIEBAR" +
           "PgBAgQIECBAgAABAgSSgIhIXMYECBAgQIAAAQIECIgIP0CAAAECBAgQIECAQBIQEYnLmAABAgQIECBAgAABEeEHCBAgQIAAAQIECBBIAiIicRkTIECAAAECBAgQICAi/AABAgQIECBAg" +
           "AABAklARCQuYwIECBAgQIAAAQIERIQfIECAAAECBAgQIEAgCYiIxGVMgAABAgQIECBAgICI8AMECBAgQIAAAQIECCQBEZG4jAkQIECAAAECBAgQEBF+gAABAgQIECBAgACBJCAiEpcxA" +
           "QIECBAgQIAAAQIiwg8QIECAAAECBAgQIJAERETiMiZAgAABAgQIECBAQET4AQIECBAgQIAAAQIEkoCISFzGBAgQIECAAAECBAiICD9AgAABAgQIECBAgEASEBGJy5gAAQIECBAgQIAAARH" +
           "hBwgQIECAAAECBAgQSAIiInEZEyBAgAABAgQIECAgIvwAAQIECBAgQIAAAQJJQEQkLmMCBAgQIECAAAECBESEHyBAgAABAgQIECBAIAmIiMRlTIAAAQIECBAgQICAiPADBAgQIECAAAECBAgkA" +
           "RGRuIwJECBAgAABAgQIEBARfoAAAQIECBAgQIAAgSQgIhKXMQECBAgQIECAAAECIsIPECBAgAABAgQIECCQBERE4jImQIAAAQIECBAgQEBE+AECBAgQIECAAAECBJKAiEhcxgQIECBAgAABAgQIiAg/QIAAAQIECBAgQIBAEhARicuYAAECBAgQIECAAAER" +
           "4QcIECBAgAABAgQIEEgCIiJxGRMgQIAAAQIECBAgICL8AAECBAgQIECAAAECSUBEJC5jAgQIECBAgAABAgREhB8gQIAAAQIECBAgQCAJiIjEZUyAAAECBAgQIECAgIjwAwQIECBAgAABAgQIJAERkbiMCRAgQIAAAQIECBAQEX6AAAECBAgQIECAAIEkICISl" +
           "zEBAgQIECBAgAABAiLCDxAgQIAAAQIECBAgkAREROIyJkCAAAECBAgQIEBARPgBAgQIECBAgAABAgSSgIhIXMYECBAgQIAAAQIECIgIP0CAAAECBAgQIECAQBIQEYnLmAABAgQIECBAgAABEeEHCBAgQIAAAQIECBBIAiIicRkTIECAAAECBAgQICAi/AABAg" +
           "QIECBAgAABAklARCQuYwIECBAgQIAAAQIERIQfIECAAAECBAgQIEAgCYiIxGVMgAABAgQIECBAgICI8AMECBAgQIAAAQIECCQBEZG4jAkQIECAAAECBAgQEBF+gAABAgQIECBAgACBJCAiEpcxAQIECBAgQIAAAQIiwg8QIECAAAECBAgQIJAERETiMiZAgAA" +
           "BAgQIECBAQET4AQIECBAgQIAAAQIEkoCISFzGBAgQIECAAAECBAiICD9AgAABAgQIECBAgEASEBGJy5gAAQIECBAgQIAAARHhBwgQIECAAAECBAgQSAIiInEZEyBAgAABAgQIECAgIvwAAQIECBAgQIAAAQJJQEQkLmMCBAgQIECAAAECBESEHyBAgAABAgQIEC" +
           "BAIAmIiMRlTIAAAQIECBAgQICAiPADBAgQIECAAAECBAgkARGRuIwJECBAgAABAgQIEBARfoAAAQIECBAgQIAAgSQgIhKXMQECBAgQIECAAAECIsIPECBAgAABAgQIECCQBERE4jImQIAAAQIECBAgQEBE+AECBAgQIECAAAECBJKAiEhcxgQIECBAgAABAgQIi" +
           "Ag/QIAAAQIECBAgQIBAEhARicuYAAECBAgQIECAAAER4QcIECBAgAABAgQIEEgCIiJxGRMgQIAAAQIECBAgICL8AAECBAgQIECAAAECSUBEJC5jAgQIECBAgAABAgREhB8gQIAAAQIECBAgQCAJiIjEZUyAAAECBAgQIECAgIjwAwQIECBAgAABAgQIJAE" +
           "RkbiMCRAgQIAAAQIECBAQEX6AAAECBAgQIECAAIEkICISlzEBAgQIECBAgAABAiLCDxAgQIAAAQIECBAgkAREROIyJkCAAAECBAgQIEBARPgBAgQIECBAgAABAgSSgIhIXMYECBAgQIAAAQIECIgIP0CAAAECBAgQIECAQBIQEYnLmAABAgQIECBAgAABEeE" +
           "HCBAgQIAAAQIECBBIAiIicRkTIECAAAECBAgQICAi/AABAgQIECBAgAABAklARCQuYwIECBAgQIAAAQIERIQfIECAAAECBAgQIEAgCYiIxGVMgAABAgQIECBAgICI8AMECBAgQIAAAQIECCQBEZG4jAkQIECAAAECBAgQEBF+gAABAgQIECBAgACBJCAiEpcx" +
           "AQIECBAgQIAAAQIiwg8QIECAAAECBAgQIJAERETiMiZAgAABAgQIECBAQET4AQIECBAgQIAAAQIEkoCISFzGBAgQIECAAAECBAiICD9AgAABAgQIECBAgEASEBGJy5gAAQIECBAgQIAAARHhBwgQIECAAAECBAgQSAIiInEZEyBAgAABAgQIECAgIvwAAQIEC" +
           "BAgQIAAAQJJQEQkLmMCBAgQIECAAAECBESEHyBAgAABAgQIECBAIAmIiMRlTIAAAQIECBAgQICAiPADBAgQIECAAAECBAgkARGRuIwJECBAgAABAgQIEBARfoAAAQIECBAgQIAAgSQgIhKXMQECBAgQIECAAAECIsIPECBAgAABAgQIECCQBERE4jImQIAAAQ" +
           "IECBAgQEBE+AECBAgQIECAAAECBJKAiEhcxgQIECBAgAABAgQIiAg/QIAAAQIECBAgQIBAEhARicuYAAECBAgQIECAAAER4QcIECBAgAABAgQIEEgCIiJxGRMgQIAAAQIECBAgICL8AAECBAgQIECAAAECSUBEJC5jAgQIECBAgAABAgREhB8gQIAAAQIECBAgQ" +
           "CAJiIjEZUyAAAECBAgQIECAgIjwAwQIECBAgAABAgQIJAERkbiMCRAgQIAAAQIECBAQEX6AAAECBAgQIECAAIEkICISlzEBAgQIECBAgAABAiLCDxAgQIAAAQIECBAgkAREROIyJkCAAAECBAgQIEBARPgBAgQIECBAgAABAgSSgIhIXMYECBAgQIAAAQIECIgIP0" +
           "CAAAECBAgQIECAQBIQEYnLmAABAgQIECBAgAABEeEHCBAgQIAAAQIECBBIAiIicRkTIECAAAECBAgQICAi/AABAgQIECBAgAABAklARCQuYwIECBAgQIAAAQIERIQfIECAAAECBAgQIEAgCYiIxGVMgAABAgQIECBAgICI8AMECBAgQIAAAQIECCQBEZG4jAkQIECA" +
           "AAECBAgQEBF+gAABAgQIECBAgACBJCAiEpcxAQIECBAgQIAAAQIiwg8QIECAAAECBAgQIJAERETiMiZAgAABAgQIECBAQET4AQIECBAgQIAAAQIEkoCISFzGBAgQIECAAAECBAiICD9AgAABAgQIECBAgEASEBGJy5gAAQIECBAgQIAAARHhBwgQIECAAAECBAgQSA" +
           "IiInEZEyBAgAABAgQIECAgIvwAAQIECBAgQIAAAQJJQEQkLmMCBAgQIECAAAECBESEHyBAgAABAgQIECBAIAmIiMRlTIAAAQIECBAgQICAiPADBAgQIECAAAECBAgkARGRuIwJECBAgAABAgQIEBARfoAAAQIECBAgQIAAgSQgIhKXMQECBAgQIECAAAECIsIPECBA" +
           "gAABAgQIECCQBERE4jImQIAAAQIECBAgQEBE+AECBAgQIECAAAECBJKAiEhcxgQIECBAgAABAgQIiAg/QIAAAQIECBAgQIBAEhARicuYAAECBAgQIECAAAER4QcIECBAgAABAgQIEEgCIiJxGRMgQIAAAQIECBAgICL8AAECBAgQIECAAAECSUBEJC5jAgQIECBAgA" +
           "ABAgREhB8gQIAAAQIECBAgQCAJiIjEZUyAAAECBAgQIECAgIjwAwQIECBAgAABAgQIJAERkbiMCRAgQIAAAQIECBAQEX6AAAECBAgQIECAAIEkICISlzEBAgQIECBAgAABAiLCDxAgQIAAAQIECBAgkAREROIyJkCAAAECBAgQIEBARPgBAgQIECBAgAABAgSSgIhIX" +
           "MYECBAgQIAAAQIECIgIP0CAAAECBAgQIECAQBIQEYnLmAABAgQIECBAgAABEeEHCBAgQIAAAQIECBBIAiIicRkTIECAAAECBAgQICAi/AABAgQIECBAgAABAklARCQuYwIECBAgQIAAAQIERIQfIECAAAECBAgQIEAgCYiIxGVMgAABAgQIECBAgICI8AMECBAgQIA" +
           "AAQIECCQBEZG4jAkQIECAAAECBAgQEBF+gAABAgQIECBAgACBJCAiEpcxAQIECBAgQIAAAQIiwg8QIECAAAECBAgQIJAERETiMiZAgAABAgQIECBAQET4AQIECBAgQIAAAQIEkoCISFzGBAgQIECAAAECBAiICD9AgAABAgQIECBAgEASEBGJy5gAAQIECBAgQIAAA" +
           "RHhBwgQIECAAAECBAgQSAIiInEZEyBAgAABAgQIECAgIvwAAQIECBAgQIAAAQJJQEQkLmMCBAgQIECAAAECBESEHyBAgAABAgQIECBAIAmIiMRlTIAAAQIECBAgQICAiPADBAgQIECAAAECBAgkARGRuIwJECBAgAABAgQIEBARfoAAAQIECBAgQIAAgSQgIhKXMQE" +
           "CBAgQIECAAAECIsIPECBAgAABAgQIECCQBERE4jImQIAAAQIECBAgQEBE+AECBAgQIECAAAECBJKAiEhcxgQIECBAgAABAgQIiAg/QIAAAQIECBAgQIBAEhARicuYAAECBAgQIECAAAER4QcIECBAgAABAgQIEEgCIiJxGRMgQIAAAQIECBAgICL8AAECBAgQIECAA" +
           "AECSUBEJC5jAgQIECBAgAABAgREhB8gQIAAAQIECBAgQCAJiIjEZUyAAAECBAgQIECAgIjwAwQIECBAgAABAgQIJAERkbiMCRAgQIAAAQIECBAQEX6AAAECBAgQIECAAIEkICISlzEBAgQIECBAgAABAiLCDxAgQIAAAQIECBAgkAREROIyJkCAAAECBAgQIEBARPg" +
           "BAgQIECBAgAABAgSSgIhIXMYECBAgQIAAAQIECIgIP0CAAAECBAgQIECAQBIQEYnLmAABAgQIECBAgAABEeEHCBAgQIAAAQIECBBIAiIicRkTIECAAAECBAgQICAi/AABAgQIECBAgAABAklARCQuYwIECBAgQIAAAQIERIQfIECAAAECBAgQIEAgCYiIxGVMgAAB" +
           "AgQIECBAgICI8AMECBAgQIAAAQIECCQBEZG4jAkQIECAAAECBAgQEBF+gAABAgQIECBAgACBJCAiEpcxAQIECBAgQIAAAQIiwg8QIECAAAECBAgQIJAERETiMiZAgAABAgQIECBAQET4AQIECBAgQIAAAQIEkoCISFzGBAgQIECAAAECBAiICD9AgAABAgQIECBAg" +
           "EASEBGJy5gAAQIECBAgQIAAARHhBwgQIECAAAECBAgQSAIiInEZEyBAgAABAgQIECAgIvwAAQIECBAgQIAAAQJJQEQkLmMCBAgQIECAAAECBESEHyBAgAABAgQIECBAIAmIiMRlTIAAAQIECBAgQICAiPADBAgQIECAAAECBAgkARGRuIwJECBAgAABAgQIEBARfo" +
           "AAAQIECBAgQIAAgSQgIhKXMQECBAgQIECAAAECIsIPECBAgAABAgQIECCQBERE4jImQIAAAQIECBAgQEBE+AECBAgQIECAAAECBJKAiEhcxgQIECBAgAABAgQIiAg/QIAAAQIECBAgQIBAEhARicuYAAECBAgQIECAAAER4QcIECBAgAABAgQIEEgCIiJxGRMgQIA" +
           "AAQIECBAgICL8AAECBAgQIECAAAECSUBEJC5jAgQIECBAgAABAgREhB8gQIAAAQIECBAgQCAJiIjEZUyAAAECBAgQIECAgIjwAwQIECBAgAABAgQIJAERkbiMCRAgQIAAAQIECBAQEX6AAAECBAgQIECAAIEkICISlzEBAgQIECBAgAABAiLCDxAgQIAAAQIECBAg" +
           "kAREROIyJkCAAAECBAgQIEBARPgBAgQIECBAgAABAgSSgIhIXMYECBAgQIAAAQIECIgIP0CAAAECBAgQIECAQBIQEYnLmAABAgQIECBAgAABEeEHCBAgQIAAAQIECBBIAiIicRkTIECAAAECBAgQICAi/AABAgQIECBAgAABAklARCQuYwIECBAgQIAAAQIERIQfIEC" +
           "AAAECBAgQIEAgCYiIxGVMgAABAgQIECBAgICI8AMECBAgQIAAAQIECCQBEZG4jAkQIECAAAECBAgQEBF+gAABAgQIECBAgACBJCAiEpcxAQIECBAgQIAAAQIiwg8QIECAAAECBAgQIJAERETiMiZAgAABAgQIECBAQET4AQIECBAgQIAAAQIEkoCISFzGBAgQIECAAA" +
           "ECBAiICD9AgAABAgQIECBAgEASEBGJy5gAAQIECBAgQIAAARHhBwgQIECAAAECBAgQSAIiInEZEyBAgAABAgQIECAgIvwAAQIECBAgQIAAAQJJQEQkLmMCBAgQIECAAAECBESEHyBAgAABAgQIECBAIAmIiMRlTIAAAQIECBAgQICAiPADBAgQIECAAAECBAgkARGR" +
           "uIwJECBAgAABAgQIEBARfoAAAQIECBAgQIAAgSTwRdcBZA2nfHIAAAAASUVORK5CYII=";


   $(function(){
       /* if(missiveReceiveForm.bgPngPath!=null){
        $("#missiveReceive")[0].style.backgroundImage="url(/api/bgPng/"+instanceid+")";
        }*/
       //收文年
       if(missiveReceiveForm.receiveYear!=null&&missiveReceiveForm.receiveYear!=""){
           $('#receiveYears').html(missiveReceiveForm.receiveYear);
       }
       //收文月
       if(missiveReceiveForm.receiveMonth!=null&&missiveReceiveForm.receiveMonth!=""){
           $('#receiveMonths').html(missiveReceiveForm.receiveMonth);
       }
       //收文日
       if(missiveReceiveForm.receiveDay!=null&&missiveReceiveForm.receiveDay!=""){
           $('#receiveDays').html(missiveReceiveForm.receiveDay);
       }
       //收文号
       if(missiveReceiveForm.code!=null&&missiveReceiveForm.code!=""){
           $('#M_receiveNums').html(missiveReceiveForm.code);
       }
       //文件字号
       if(missiveReceiveForm.missiveNumber!=null&&missiveReceiveForm.missiveNumber!=""){
           $('#missiveNums').html(missiveReceiveForm.missiveNumber);
       }
       //文件份数
       if(missiveReceiveForm.fileCount!=null&&missiveReceiveForm.fileCount!=""){
           $('#missiveCounts').html(missiveReceiveForm.fileCount);
       }
       //紧急程度
       if(missiveReceiveForm.urgencyLevel.value!=null&&missiveReceiveForm.urgencyLevel.value!=""){
           $('#emergencyLevels').html(missiveReceiveForm.urgencyLevel.value);
       }
       //办理期限
       if(missiveReceiveForm.dealDeadline!=null&&missiveReceiveForm.dealDeadline!=""){
           $('#deadlines').html(missiveReceiveForm.dealDeadline);
       }
       //来文摘要
       if(missiveReceiveForm.missiveAbstract!=null&&missiveReceiveForm.missiveAbstract!=""){
           var abstracts = missiveReceiveForm.missiveAbstract;
         //  if(abstracts.indexOf("\\n")>0){
               abstracts=abstracts.replace(/\\n/g,"<br/>");
               abstracts=abstracts.replace(/\s/g,"&nbsp");
          // }
           $('#missiveaAbstracts').html(abstracts);
       }
       //办公室拟办
       if(missiveReceiveForm.officeToDo!=null&&missiveReceiveForm.officeToDo!=""){
           var officedo = missiveReceiveForm.officeToDo;
         //  if(officedo.indexOf("\\n")>0){
               officedo=officedo.replace(/\\n/g,"<br/>");
               officedo=officedo.replace(/\s/g,"&nbsp");

         //  }
           $('#officeSuggests').html(officedo);
       }
       //拟办月
       if(missiveReceiveForm.toDoDateMonth!=null&&missiveReceiveForm.toDoDateMonth!=""){
           $('#officeSuggest_Months').html(missiveReceiveForm.toDoDateMonth);
       }
       //拟办日
       if(missiveReceiveForm.toDoDateDay!=null&&missiveReceiveForm.toDoDateDay!=""){
           $('#officeSuggest_Days').html(missiveReceiveForm.toDoDateDay);
       }
       //领导批示
       if(missiveReceiveForm.leaderInstruct.imageurl!=null&&missiveReceiveForm.leaderInstruct.imageurl!=""){
           $('#leaderInstuct_img')[0].src=missiveReceiveForm.leaderInstruct.imageurl;
       }
       else{
           $('#leaderInstuct_img')[0].src=blankImg;
       }
       if(missiveReceiveForm.leaderInstruct.contentText!=null&&missiveReceiveForm.leaderInstruct.contentText!=""){
           var leadercontent = missiveReceiveForm.leaderInstruct.contentText;
         //  if(leadercontent.indexOf('\\n')>0){
               leadercontent=leadercontent.replace(/\\n/g,"<br/>");
         //  }
           var leadertextT = leadercontent.replace(/\s/g,"");
           if(leadercontent.length!=leadertextT.length){
               leadercontent=leadercontent.replace(/\s/g,"&nbsp");
           }
           $('#leaderInstruct_txt').html(leadercontent);
       }
       if(missiveReceiveForm.leaderInstruct.base30url!=null&&missiveReceiveForm.leaderInstruct.base30url!=""){
           $('#leaderInstructBase30img')[0].value=missiveReceiveForm.leaderInstruct.base30url;
       }
       /*if(missiveReceiveForm.leaderInstruct.contentText!=null&&missiveReceiveForm.leaderInstruct.contentText!=""){
        $('#lookSign_txt').html(missiveReceiveForm.leaderInstruct.contentText);
        }*/
       //批示月
       if(missiveReceiveForm.instructDateMonth!=null&&missiveReceiveForm.instructDateMonth!=""){
           $('#signMonths').html(missiveReceiveForm.instructDateMonth);
       }
       //批示日
       if(missiveReceiveForm.instructDateDay!=null&&missiveReceiveForm.instructDateDay!=""){
           $('#signDays').html(missiveReceiveForm.instructDateDay);
       }
       //阅办人签字
       if(missiveReceiveForm.lookerSign.imageurl!=null&&missiveReceiveForm.lookerSign.imageurl!=""){
           $('#lookSign_img')[0].src=missiveReceiveForm.lookerSign.imageurl;
       }
       else{
           $('#lookSign_img')[0].src=blankImg;
       }
       if(missiveReceiveForm.lookerSign.contentText!=null&&missiveReceiveForm.lookerSign.contentText!=""){
           var lookercontext= missiveReceiveForm.lookerSign.contentText;
          // if(lookercontext.indexOf("\\n")>0){
               lookercontext=lookercontext.replace(/\\n/g,"<br/>");
        //   }
           var lookercontextT = lookercontext.replace(/\s/g,"");
           if(lookercontext.length!=lookercontextT.length){
               lookercontext= lookercontext.replace(/\s/g,"&nbsp");
           }
           $('#lookSign_txt').html(lookercontext);
       }
       /* if(missiveReceiveForm.lookerSign.contentText!=null&&missiveReceiveForm.contentText!=""){
        $('#lookSign_txt')[0].value=missiveReceiveForm.lookerSign.contentText;
        }*/
       if(missiveReceiveForm.lookerSign.base30url!=null&&missiveReceiveForm.lookerSign.base30url!=""){
           $('#lookSignBase30img_sign').html(missiveReceiveForm.lookerSign.base30url);
       }
       //承办情况
       if(missiveReceiveForm.undertake.imageurl!=null&&missiveReceiveForm.undertake.imageurl!=""){
           $('#undertake_img')[0].src=missiveReceiveForm.undertake.imageurl;
       }

       else{
           $('#undertake_img')[0].src=blankImg;
       }
       /*if(missiveReceiveForm.undertake.contentText!=null&&missiveReceiveForm.undertake.contentText!=""){
        $('#lookSign_txt').html(missiveReceiveForm.undertake.contentText);
        }*/
       if(missiveReceiveForm.undertake.contentText!=null&&missiveReceiveForm.undertake.contentText!=""){
           var undertakeText = missiveReceiveForm.undertake.contentText;
         //  if(undertakeText.indexOf("\\n")>0){
               undertakeText=undertakeText.replace(/\\n/g,"<br/>");
        //   }
           var undertaketextT = undertakeText.replace(/\s/g,"");
           if(undertakeText.length!=undertaketextT.length){
               undertakeText=undertakeText.replace(/\s/g,"&nbsp");
           }
           $('#undertake_txt').html(undertakeText);
           //$('#undertake_txt')[0].value=missiveReceiveForm.undertake.contentText;
       }
       if(missiveReceiveForm.undertake.base30url!=null&&missiveReceiveForm.undertake.base30url!=""){
           $('#undertakeBase30img_sign').html(missiveReceiveForm.undertake.base30url);
       }


   })






</script>
<style>
    #missiveForm div label,#missiveForm div pre label,#missiveForm div textarea{
        font-size: 18px;
        font-family: "SimSun";
        color: #666;
    }
    #missiveForm div{
        margin-left: -12px;
        color: #666;
    }

</style>

<!-- inline scripts related to this page -->
</body>
</html>


