<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>

</head>
<body th:fragment="navbar(user)">

<div class="navbar navbar-default" id="navbar">
<script type="text/javascript">
    try{ace.settings.check('navbar' , 'fixed')}catch(e){}
</script>

<div class="navbar-container" id="navbar-container">
<div class="navbar-header pull-left">
    <a href="/" class="navbar-brand">
        <small>
            <i class="icon-leaf"></i>
            国家海洋局东海预报中心办公系统
        </small>
    </a><!-- /.brand -->
</div><!-- /.navbar-header -->

<div class="navbar-header pull-right" role="navigation">
<ul class="nav ace-nav" >
<li class="purple">
    <a data-toggle="dropdown" class="dropdown-toggle" title="我的任务" href="javascript:void(0)" id="controlDiv">
    </a>
    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close" >
        <li class="dropdown-header"  >
            <i class="icon-ok" ></i>
            待办任务
        </li>
        <li>
            <a href="#" id="taskInfo" onclick="window.location.href='/dbzx/1'" >

            </a>
        </li>

    </ul>
</li>

<li class="green">
    <a data-toggle="dropdown" class="dropdown-toggle" title="未读通知" href="javascript:void(0)" id="messageControlDiv">

    </a>

    <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
        <li class="dropdown-header" >
            <i class="icon-ok"></i>
            未读通知
        </li>
        <li>
            <a href="#"  id="notifiInfo" onclick="window.location.href='/tzgg'">

            </a>
        </li>
    </ul>

</li>

<!--<li class="green">
    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        <i class="icon-envelope icon-animated-vertical"></i>
        <span class="badge badge-success">5</span>
    </a>
</li>-->

<li class="light-blue">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">
        <img class="nav-user-photo" th:src="'/user/image/'+${user.id}" alt="用户头像" style="width: 40px;height: 40px"/>
								<span  th:inline="text"  class="user-info">
									<small>欢迎,</small>
									[[${user.name}]]
								</span>
        <i class="icon-caret-down"></i>
    </a>

    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
       <!-- <li>
            <a href="setting.html">
                <i class="icon-cog"></i>
                设置
            </a>
        </li>-->

        <li>
            <a th:href="@{/user/info/{userId}.html(userId=${user.id})}">
                <i class="icon-user"></i>
                个人信息
            </a>
        </li>

        <li class="divider"></li>

        <li>
            <a th:href="@{/logout}">
                <i class="icon-off"></i>
                安全退出
            </a>
        </li>
    </ul>
</li>
</ul><!-- /.ace-nav -->
</div><!-- /.navbar-header -->
</div><!-- /.container -->
</div>
<script th:inline="javascript">
    var userName=/*[[${user.userName}]]*/null;
    var userId=/*[[${user.id}]]*/null;
    var currentTaskCount;
    var currentNotifiCount;

    $.ajax({
        type:'post',
        url:'/api/getTaskNum/'+userName,
        success:function(taskCount) {
            currentTaskCount = taskCount;
            if(taskCount=="0"){
               // $("#controlDiv").attr("class","icon-bell-alt");
                $("#controlDiv").html('<i class="icon-bell-alt" ></i> <span class="badge badge-important" id="taskNum"></span>');
            }else{
                $("#controlDiv").html('<i class="icon-bell-alt icon-animated-bell" ></i> <span class="badge badge-important" id="taskNum"></span>');
                //$("#controlDiv").attr("class","icon-bell-alt icon-animated-bell");
            }

            $('#taskNum').html(currentTaskCount);
            $('#taskInfo').html("您还有"+currentTaskCount+"个任务未完成！<i class='icon-arrow-right'></i>");
        }
    })


    $.ajax({
        url:'/db/getNotiCount/'+userId,
        success:function(unReadCount) {
            currentNotifiCount = unReadCount;
            if(unReadCount=="0"){
                // $("#controlDiv").attr("class","icon-bell-alt");
                $("#messageControlDiv").html('<i class="icon-envelope "></i> <span class="badge badge-success" id="notifiNum"></span>');
            }else{
                $("#messageControlDiv").html('<i class="icon-envelope icon-animated-vertical"></i> <span class="badge badge-success" id="notifiNum"></span>');
                //$("#controlDiv").attr("class","icon-bell-alt icon-animated-bell");
            }
            $('#notifiNum').html(currentNotifiCount);
            $('#notifiInfo').html("您还有"+currentNotifiCount+"个通知未阅读！ <i class='icon-arrow-right'></i>");
        }
    })

</script>

</body>
</html>