<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <title>用户管理</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script th:replace="header :: header"></script>


</head>

<body>
<script th:inline="javascript">

    var userbase64 = [[${userbase64}]];


</script>

<div th:replace="navbar :: navbar(${ud})"></div>


<div class="main-container" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.check('main-container', 'fixed')
        } catch (e) {
        }
    </script>

    <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
            <span class="menu-text"></span>
        </a>


        <div th:replace="slider :: slidermenu(${'xtsz-yhgl'})"></div>


        <div class="main-content">
            <div class="breadcrumbs" id="breadcrumbs">
                <script type="text/javascript">
                    try {
                        ace.settings.check('breadcrumbs', 'fixed')
                    } catch (e) {
                    }
                </script>

                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home home-icon"></i>
                        <a href="/">首页</a>
                    </li>

                    <li>
                        <a href="/">用户管理</a>
                    </li>

                </ul>
                <!-- .breadcrumb -->

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="搜索 ..." class="nav-search-input"
                                           id="nav-search-input" autocomplete="off"/>
									<i class="icon-search nav-search-icon"></i>
								</span>
                    </form>
                </div>
                <!-- #nav-search -->
            </div>

            <div class="page-content">
                <div style="position:absolute;top:100px;left:900px" hidden="hidden">
                    <textarea id="TA2" name="textarea" cols="50" rows="10" id="TA2"></textarea>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div id="treeview" style="overflow:visible;float:left;width:15%"></div>
                        <div id="tabstrip" style="float: left;width:80%">
                            <ul>
                                <li id="tabUser">下属用户</li>
                                <li>下属组</li>
                            </ul>
                            <div>
                                <div id="gridUser"></div>
                            </div>
                            <div>
                                <div id="gridGroup"></div>
                            </div>
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <!-- /.main-content -->


    </div>
    <!-- /.main-container-inner -->

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
</div>
<!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->

<script src="/assets/js/jquery-2.0.3.min.js"></script>

<!-- <![endif]-->

<!--[if IE]>
<script src="/assets/js/jquery.1.10.2.min.js"></script>
<![endif]-->

<!--[if !IE]> -->

<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
</script>

<!-- <![endif]-->

<!--[if IE]>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-1.10.2.min.js'>" + "<" + "/script>");
</script>
<![endif]-->

<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>

<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/js/kendo.all.min.js"></script>
<script src="/js/jquery.cookie.js"></script>

<script>
    var serviceRoot = "/api/group";//根地址
    var groupId = 1;
    var groupName="东海分局";
    var homogeneous;  //左侧树形数据源
    var gridUserData;//用户数据源
    var gridGroupData;//组数据源
    var UserList;     //监测用户重名
    var selectGroupName;  //组下拉

    var gridUser;


    $("#nav-search-input").keypress(function(event) {
        if ( event.which == 13 ) {
            event.preventDefault();

            var searchValue=event.currentTarget.value;
            if(searchValue==""){
                swal("请在搜索框输入关键字！");

            }else{
                self.location="/fullSearch/"+searchValue;

            }            //alert(searchValue);
        }

    });
    //程序主入口
    $(function ($) {


        setDataSource();//设置用户数据源
        setUserGrid();//设置用户grid

        setGroupDataSource();//设置组数据源
        setGroupGrid();//设置组grid
        setTreeView();//设置树形控件
        var tree = $("#treeview").data("kendoTreeView");
        tree.expand(".k-state-hover");

        tree.select($("#treeView").find(".k-item").first());

        $("#treeview").on("click", ".k-in", function (e) {
            tree.toggle($(e.target).closest(".k-item"));
        });
        groupName = $("#treeview").getKendoTreeView().dataItem(e.node).groupName;   //点击树视图，获取组



    })

    function onRowBound() {
        $(".k-grid-view").find("span").addClass("k-icon k-view");
    }

    //设置用户grid
    function setUserGrid() {
            gridUser = $("#gridUser").kendoGrid({
            dataSource: gridUserData,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "选择条件",
                        eq: "等于",
                        neq: "不等于"

                    }
                },
                messages: {
                    info: "筛选",
                    and: "且",
                    or: "或",
                    filter: "搜索",
                    clear: "取消"
                }

            },
            toolbar: [{name: "create", text: "添加新用户"}],
            columns: [
                {field: "name", title: "姓名"},
                {field: "userName", title: "用户名"/*,
                    attributes: {
                    "class": "table-cell",
                    style: "text-align: left;vertical-align:middle"}*/},
                {field: "abrev", title: "用户简称"},
                {
                    hidden: true, field: "password", title: "密码",
                    //密码编辑输入暗文形式
                    editor: function (container, options) {
                        $('<input data-text-field="' + options.field + '" ' +
                        'class="k-input k-textbox" ' +
                        'type="password" ' +
                        'data-value-field="' + options.field + '" ' +
                        'data-bind="value:' + options.field + '"/>')
                                .appendTo(container)
                    }
                },
                {field: "sex", title: "性别", editor: sexDropDownEditor, template: "#=sex#"},
                {field: "tel", title: "手机"
                    /*template: '#= kendo.toString(tel, "###-####-####")#'*/},
                {field: "email", title: "邮箱"},
                {field: "groupName", title: "用户群组",editor:value2DropDownEditor, hidden:true},

                {field: "authority",title: "用户权限",editor: authorDropDownEditor, template:"#=authority#"},
                //{field: "authorityId",title: "用户权限",template:"#=(authorityId==true)?'管理员':'普通用户'#"},
                //{field: "authority",title: "用户权限",editor: authorDropDownEditor,template:"#=(authority==admin)?'管理员':'普通用户'#"},
                {
                    command: [
                        {
                            name: "view", text: "查看",
                            click: function (e) {

                                var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                                var url = "/user/info/" + dataItem.id + ".html";
                                window.open(url);
                            }
                        },
                        {name: "edit", text: {edit: "编辑", cancel: "取消", update: "更新"}},

                        {
                            ID: "delete", name: "destroy", text: "删除", click: function (e) {

                            var entityGrid = $("#gridUser").data("kendoGrid");
                            var row = entityGrid.select();
                            var data = entityGrid.dataItem(row);
                            //var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            //var IDItem= dataItem.userName;
                            if (confirm('你确定要删除用户：' + data.name)) {
                                var dataSource = $("#gridUser").data("kendoGrid").dataSource;
                                dataSource.remove(data);
                                dataSource.sync();
                                setTreeView();

                            }
                        }

                        }

                    ], width: 250
                }
            ],
            dataBound: onRowBound,
            pageable: {
                pageSize: 10,
                buttonCount: 10,
                input: true,
                messages: {
                    display: "共{2}条记录",
                    first: "第一页",
                    last: "最后一页",
                    next: "下一页",
                    previous: "前一页",
                    empty: "没有数据",
                    morePages: "更多页",
                    itemsPerPage: "项数据每页",
                    page: "第",
                    of: "页"
                }
            },
            selectable: "row",
            editable: {
                mode: "popup",
                confirmation: "确认删除这条记录?"
            },
                edit: function (e) {
                    if (!e.model.isNew()) {

                        $('input[name *= "userName"]').attr("disabled", true);


                    }

                }
        }).data("kendoGrid");

        function edit(){
            alert('edit');
        }

    }
    //设置用户据数据源
    function setDataSource() {
        gridUserData = new kendo.data.DataSource({
            transport: {
                read: {
                    url: serviceRoot + "/user?groupId=" + groupId,
                    dataType: "json"

                },
                create: {
                    url: serviceRoot + "/createUser?groupId=" + groupId,
                    dataType: "json"
                },
                update: {
                    url: serviceRoot + "/updateUser?groupId=" + groupId,
                    dataType: "json"
                },
                destroy: {
                    url: serviceRoot + "/deleteUser",
                    dataType: "json"
                },
                parameterMap: function (options, operation) {


                    var sexField = "";
                    var authorField="";
                    var groupField="";
                    if (operation !== "read") {
                        console.log("myoperation:" + operation);

                       // authorField=(options.authority==1)?"admin":"user";

                        if (options.sex.sex == undefined) {
                            sexField = options.sex;
                        } else {
                            sexField = options.sex.sex;
                        }

                        if(options.authority.authority==undefined){
                            authorField=options.authority;
                        }else{
                            authorField=options.authority.authority;
                        }
                        if(options.groupName==undefined){
                            groupField=options.groupName.groupName;
                        }else{
                            groupField=options.groupName;
                        }

                        var data = {
                            id: options.id,
                            name: options.name,
                            userName: options.userName,
                            abrev: options.abrev,
                            password: options.password,
                            sex: sexField,
                            tel: options.tel,
                            email: options.email,
                            groupName:groupField,
                            //authorityId:options.authorityId
                            authority:authorField

                        };
                        return data;
                    }
                    else {
                        return groupId;
                    }
                }
            },
            sync: function (e) {
                console.log("data sync!");

                gridUserData.read();
                console.log("dataGrid:" + gridUserData);

            }, //12-09xinjia
            pageSize: 10,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: {editable: false, nullable: true},
                        name: {validation: {required: {message: "必须填写真实姓名"}}},
                        userName: {validation: {
                            required: {message: "必须填写用户登陆账户"},
                            validateUserName: function(input){
                                if(input.attr("data-bind") == "value:userName"){
                                    $.ajax({
                                        url: "/api/group/getUsername",
                                        data: {userName:input.val()},
                                        headers: {
                                            "Authorization": $.cookie("userbase64")

                                        },
                                        success: function(data){
                                            $("#TA2").text(data);
                                        }
                                    })
                                    if($("#TA2").val()=="true"){
                                        input.attr("data-validateUserName-msg","该用户名已被注册，请重新填写")
                                        return false;
                                    }
                                    else return true;
                                }
                                return true;
                            }
                         }
                        },
                      /*  userName: {validation: {
                            required: {message: "必须填写用户登陆账户"},
                            validateUserName: function(input){
                                if(input.attr("data-bind") == "value:userName"){
                                    //var dataSource2 = $("#gridUser").data("kendoGrid").dataSource;
                                    UserList=gridUserData.data();
                                    //var entityGrid2 = $("#gridUser").data("kendoGrid");
                                    for(var i=0;i<UserList.length-2;i++){
                                        //var data = entityGrid2.dataItem(i);
                                        if(input.val()==UserList[i].userName){
                                            input.attr("data-validateUserName-msg","该用户名已被注册，请重新填写")
                                            return false;
                                        }
                                        else return true;
                                    }
                                }
                                return true;
                            }
                        }
                        },*/
                        abbrev: {validation: {required: {message: "必须填写用户简称"}}},
                        sex: {defaultValue: {sex: "男"}},
                        tel: {
                            type: "string",
                            validation: {
                                required: {message: "必须填写手机号"},
                                validateTel: function (input) {
                                    if (input.attr("data-bind") == "value:tel") {
                                        if (input.val().length != 11) {
                                            input.attr("data-validateTel-msg", "必须填写11位手机号");
                                            return false;

                                        }
                                        else return true;
                                    }
                                    return true;
                                }
                            }
                        },
                        email: {
                            type: "email",
                            validation: {required: {message: "必须填写邮箱"}}
                        },
                        password: {
                            type: "password", validation: {
                                required: {message: "必须填写至少3位密码"},
                                validatePassword: function (input) {
//                                alert(input.attr("data-bind"));
                                    if (input.attr("data-bind") == "value:password") { // check if this is the element to validate
//                                    alert(input.val().length);
                                        if (input.val().length < 3) {
                                            input.attr("data-validatePassword-msg", "必须填写至少3位密码");
                                            return false;
                                        }
                                        else
                                            return true;
                                    }
                                    return true;
                                }
                            }
                        },
                        groupName: { defaultValue:{groupName:groupName} },
/*
                        groupName: { validation: { required: true, class: "k-dropdown-wrap"} },
*/

                        authority: {defaultValue:{authority:"普通用户"}}

                        //authorityId: {type:"boolean"}

                    }
                }
            }
        });
    }
    //设置组grid
    function setGroupGrid() {
        var gridGroup = $("#gridGroup").kendoGrid({
            dataSource: gridGroupData,
            filterable: {
                extra: false,
                operators: {
                    string: {
                        startswith: "选择条件",
                        eq: "等于",
                        neq: "不等于"

                    }
                },
                messages: {
                    info: "筛选",
                    and: "且",
                    or: "或",
                    filter: "搜索",
                    clear: "取消"
                }

            },
            toolbar: [{name: "create", text: "添加新组"}],
            columns: [
                {field: "groupName", title: "组名"},
                {field: "description", title: "描述"},
                {field: "abbrevname", title: "群组简称"},
                {field: "abbrev", title: "群组缩写"},
                {
                    command: [
                        {name: "edit", text: {edit: "编辑", cancel: "取消", update: "更新"}},
                        {
                            name: "destroy", text: "删除", click: function (e) {
                            var entityGrid = $("#gridGroup").data("kendoGrid");
                            var row = entityGrid.select();
                            var data = entityGrid.dataItem(row);
//                          console.log("deleteGroupID"+data.id);
//                          alert(data.id);
                            if (confirm('你确定要删除组：' + data.groupName)) {
                                var dataSource = $("#gridGroup").data("kendoGrid").dataSource;
                                dataSource.remove(data);
                                //dataSource.sync();
                                setTreeView();
                            }
                        }
                        }

                    ],
                    title: "&nbsp;"
                }
            ],
            pageable: {
                buttonCount: 3,
                input: true,

                messages: {
                    display: "共{2}条记录",
                    first: "第一页",
                    last: "最后一页",
                    next: "下一页",
                    previous: "前一页",
                    morePages: "更多页",
                    refresh: "刷新表格",
                    empty: "没有数据",
                    itemsPerPage: "项数据每页",
                    page: "第",
                    of: "页"
                }
            },
            selectable: "row",
            editable: {
                mode: "popup",
                update: 'true',
                confirmation: "确认删除这条记录?"
            }
        });
    }
    //设置组数据源
    function setGroupDataSource() {
        gridGroupData = new kendo.data.DataSource({
            transport: {
                read: {
                    url: serviceRoot + "/gridGroup?parentGroup=" + groupId,
                    dataType: "json"
                },
                create: {
                    url: serviceRoot + "/createGroup?parentGroup=" + groupId,
                    dataType: "json"
                },
                update: {
                    url: serviceRoot + "/updateGroup",
                    dataType: "json"
                },
                destroy: {
                    url: serviceRoot + "/deleteGroup",
                    dataType: "json"

                },
                parameterMap: function (options, operation) {


                    if (operation !== "read" && options.models) {

                        var data = {
                            id: options.models[0].id,
                            groupName: options.models[0].groupName,
                            description: options.models[0].description,
                            abbrevname: options.models[0].abbrevname,
                            abbrev: options.models[0].abbrev
                        };
                        return data;
                    }
                    else {
                        return groupId;
                    }
                }
            },
            sync: function (e) {
                console.log("data sync!");

                homogeneous.read();
                console.log("lefetData:" + homogeneous);

            },
            batch: true,
            pageSize: 10,
            schema: {
                model: {
                    id: "id",
                    fields: {
                        id: {editable: false, nullable: true},
                        groupName: {validation: {required: true}},
                        description: {validation: {required: false}},
                        abbrevname: {validation: {required: false}},
                        abbrev: {validation: {required: false}}
                    }
                }
            }
        });
    }

    function treeExpandFirst() {


//        $(".k-top").find("span").addClass("k-state-selected");
        $("#treeview").data("kendoTreeView").expand(".k-state-hover");

    }

    //设置左侧树形数据
    function setTreeView() {
        //树形数据源
        homogeneous = new kendo.data.HierarchicalDataSource({
            transport: {
                read: {
                    url: serviceRoot + "/treeview",
                    dataType: "json"
//                    expanded:true
                }
            },
            schema: {
                model: {
                    id: "id",
                    hasChildren: "hasGroups",       //group java类中有getHasGroup 类型是布尔值
                    expanded: true,       //默认展开
                    fields: {}
                }
            }

        });
        $("#treeview").kendoTreeView({
            select: onSelect,
            dataSource: homogeneous,
            dataTextField: "groupName",
            dataBound: treeExpandFirst


        });

    }
    //选择树形事件
    function onSelect(e) {


        groupId = $("#treeview").getKendoTreeView().dataItem(e.node).id;   //点击树视图，获取组ID
        groupName = $("#treeview").getKendoTreeView().dataItem(e.node).groupName;   //点击树视图，获取组

        var userData = $("#gridUser").data("kendoGrid");//用户数据源
        var groupData = $("#gridGroup").data("kendoGrid");//组数据源
        var dataSource = $("#gridUser").data("kendoGrid").dataSource;
        dataSource.sync();
        //userData.refresh();   //12-09新添加
        setDataSource();//设定选择组下面的用户数据
        setGroupDataSource();//设定选择组下面的组数据
        userData.setDataSource(gridUserData);//重新设置用户数据源
        groupData.setDataSource(gridGroupData);//重新设置组数据源
        var tabToActivate = $("#tabUser");      //12-13日更新 默认切换到用户数据表
        $("#tabstrip").kendoTabStrip().data("kendoTabStrip").activateTab(tabToActivate);

    }
    //grid中的性别下拉
    function sexDropDownEditor(container, options) {
        $('<input required data-value-field="sex" name="sex" data-text-field="sex" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    dataSource: [
                        {sex: "1", sex: "男"},
                        {sex: "2", sex: "女"}

                    ]
                });
    }
    //grid中的管理员下啦
    function authorDropDownEditor(container, options) {
        $('<input required data-value-field="authority" name="authority" data-text-field="authority" data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    dataSource: [
                        {authority: "1", authority: "普通用户"},
                        {authority: "2", authority: "管理员"}

                    ]
                });
    }

    function value2DropDownEditor(container, options) {
        $('<input  data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    autoBind: false,
                    dataTextField: "groupName",
                    dataValueField: "groupName",
                    dataSource: selectGroupName
                }
        );
    }

    selectGroupName = new kendo.data.DataSource({
        transport: {
            read: {
                url: "/api/group/getallgroup",
                dataType: "json"
            }
        }
    });

    var readonlyEditor = function (container, options) {
        gridUser.closeCell();
    };
    //用户与组tab选择
    var tabToActivate = $("#tabUser");
    $("#tabstrip").kendoTabStrip().data("kendoTabStrip").activateTab(tabToActivate);


</script>
<!-- inline scripts related to this page -->
</body>
</html>
